<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Container_Maintenance'|translate}}
            </h3>

            <!-- Row 1 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'ContainerId'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="whse" placeholder="{{'ContainerId'|translate}}"
                                        name="containerId" [(ngModel)]="containerId" (blur)="onContainerIdChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetAllContainer()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="packProcess" class="col-sm-3 col-form-label">{{'PackProcess'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="packProcess"
                                        placeholder="{{'PackProcess'|translate}}" name="packProcess" [(ngModel)]="packProcess"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'ContainerCode'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="containerCode"
                                        placeholder="{{'ContainerCode'|translate}}" name="containerCode" [(ngModel)]="containerCode"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="warehouse" class="col-sm-3 col-form-label">{{'Login_Warehouse'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="binNo" placeholder="{{'Login_Warehouse'|translate}}"
                                        name="warehouse" [(ngModel)]="warehouse" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="containerStatus" class="col-sm-3 col-form-label">{{'ContainerStatus'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="containerStatus"
                                        placeholder="{{'ContainerStatus'|translate}}" name="containerStatus"
                                        [(ngModel)]="containerStatus" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <div class="col-sm-6">
                            <!-- col start -->
                            <div class="form-group row">
                                <label for="binCode" class="col-sm-3 col-form-label">{{'BinCode'|translate}}</label>
                                <div div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" name='binCode' [(ngModel)]="binCode"
                                        id="binCode" disabled>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 4 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inventoryStatus" class="col-sm-3 col-form-label">{{'InventoryStatus'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="inventoryStatus"
                                        placeholder="{{'InventoryStatus'|translate}}" name="inventoryStatus"
                                        [(ngModel)]="inventoryStatus" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="weight" class="col-sm-3 col-form-label">{{'Weight'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="number" class="form-control form-control-sm text-right" name='weight'
                                        [ngModel]="weight|numberFormat" (ngModelChange)="weight=$event" id="weight"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="shipEligible" class="col-sm-3 col-form-label">{{'ShipEligible'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="shipEligible"
                                        placeholder="{{'ShipEligible'|translate}}" name="shipEligible" [(ngModel)]="shipEligible"
                                        disabled>
                                </div>
                            </div>

                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="volume" class="col-sm-3 col-form-label">{{'Volume'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="number" class="form-control form-control-sm text-right" name='volume'
                                        [ngModel]="volume|numberFormat" (ngModelChange)="volume=$event" id="volume"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="wizard-container mt-3">
                        <div class="wizard-box">
                            <h5 class="card-header">{{'ContainerItems'|translate}}</h5>
                            <div class="wizard-content">
                                <kendo-grid [data]="containerItems" [pageSize]="pageSize" [skip]="skip" #gridUser
                                    [resizable]="true" [pageable]="true" [selectable]="true">

                                    <!-- <kendo-grid-checkbox-column media="(min-width: 768px)" [width]="60">
                                        <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                            <input [kendoGridSelectionCheckbox]="idx" />
                                        </ng-template>
                                    </kendo-grid-checkbox-column> -->

                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_HDRSEQID"
                                        title="{{'ContainerId'|translate}}">
                                    </kendo-grid-column> -->
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_CONTTYPE"
                                        title="{{'ContainerType'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_ITEMCODE"
                                        title="{{'ItemCode'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_QUANTITY"
                                        title="{{'Quantity'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_QUANTITY|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_UOM" title="{{'UOM'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WEIGHT"
                                        title="{{'Wt_of_Items'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_WEIGHT|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WT_UOM"
                                        title="{{'Wt_UOM'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_WT_UOM|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_VOLUME"
                                        title="{{'Item_Volume'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_VOLUME|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_VOL_UOM"
                                        title="{{'Volume_UOM'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_VOL_UOM|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="CONTAINER_WEIGHT"
                                        title="{{'Container_Wt'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.CONTAINER_WEIGHT|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="CONTAINER_WEIGHT_UOM"
                                        title="{{'Wt_UOM'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.CONTAINER_WEIGHT_UOM|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="150" field="CONTAINER_VOLUME"
                                        title="{{'ContainerVolume'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.CONTAINER_VOLUME|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="150" field="CONTAINER_VOLUME_UOM"
                                        title="{{'ContVolUOM'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.CONTAINER_VOLUME_UOM|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="150" field="OPTM_PARENTCONTID"
                                        title="{{'Parent_CId'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPMENT_ID"
                                        title="{{'Shipment_Id'|translate}}">
                                    </kendo-grid-column>

                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_PICKED_TOSHIP"
                                        title="{{'Picked'|translate}}">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="di.OPTM_PICKED_TOSHIP" #chkSelection
                                                    id="pickedToShip" class="k-checkbox" name="pickedToShip" disabled />
                                                <label class="k-checkbox-label empty-check" for="pickedToShip"></label>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WHSE" title="{{'Login_Warehouse'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="200" field="OPTM_BIN" title="{{'BinCode'|translate}}">
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_BUILT_SOURCE"
                                        title="{{'Built_In_Process'|translate}}">
                                    </kendo-grid-column> -->
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPELIGIBLE"
                                        title="{{'ShipEligible'|translate}}">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="di.OPTM_SHIPELIGIBLE" #chkSelection
                                                    id="shipEligible" class="k-checkbox" name="shipEligible" disabled />
                                                <label class="k-checkbox-label empty-check" for="shipEligible"></label>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="200" field="OPTM_CREATEDATE"
                                        title="{{'DateTime'|translate}}">
                                    </kendo-grid-column> -->
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="Quantity" title="{{'Selected'|translate}}"
                                        class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="di.OPTM_SHIPELIGIBLE" #chkSelection
                                                    id="selected" class="k-checkbox" name="selected" disabled />
                                                <label class="k-checkbox-label empty-check" for="selected"></label>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column> -->

                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPMENT_LINEID"
                                        title="{{'Shipment_Line'|translate}}">
                                    </kendo-grid-column> -->
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="150" field="OPTM_CONTAINERID"
                                        title="{{'ContainerCode'|translate}}">
                                    </kendo-grid-column> -->
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_STATUS"
                                        title="{{'ContainerStatus'|translate}}">
                                    </kendo-grid-column> -->
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SO_NUMBER"
                                        title="{{'SONumber'|translate}}">
                                    </kendo-grid-column>

                                    <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="showOnlyBeveragesDetails">
                                        <kendo-grid [data]="dataItem.ItemBatchSerailData">
                                            <!-- <kendo-grid-column width="300" [width]="300" field="OPTM_ITEMCODE" title="{{'ItemCode'|translate}}">
                                            </kendo-grid-column> -->
                                            <kendo-grid-column width="300" [width]="300" field="OPTM_BTCHSER" title="{{'Batch_Serial'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column width="300" [width]="300" field="OPTM_QUANTITY" title="{{'Quantity'|translate}}"
                                                class="text-right" headerClass="text-right">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <label class="col-form-label">{{di.OPTM_QUANTITY|numberFormat}}</label>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column>
                                            </kendo-grid-column>
                                        </kendo-grid>
                                    </ng-template>
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="onCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onCloseClick()">
                    {{'Close'|translate}}
                </button>

                <div class="btn-group  toggle-btn-outer">
                    <div class="dropdown show">
                        <a class="btn btn-success btn-sm toggle-btn" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="opti-icon-more"></i>
                        </a>
                        <div class="dropdown-menu mr-3 mb-1" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="onPostToInvClick()">{{'PostToInv'|translate}}</a>
                            <a class="dropdown-item" (click)="onContainerOperationClick()">{{'ContainerOperation'|translate}}</a>
                            <a class="dropdown-item" (click)="onReopenClick()">{{'ReOpen'|translate}}</a>
                            <a class="dropdown-item" (click)="onSetDamagedClick()">{{'Set_Damaged'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
</span>

<span *ngIf="showLookup==false && showOtherLookup==true">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='lookupData' (lookupkey)="getLookupKey($event, gridItem)"></app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>

<span *ngIf="showInputDialogFlag">
    <app-input-container-code [titleMessage]="titleMessage" [yesButtonText]="yesButtonText" [fromWhere]="inputDialogFor"
        [noButtonText]="noButtonText" (isYesClick)="getInputDialogValue($event)" [oSaveModel]="oSaveModel"></app-input-container-code>
</span>