<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'CreateContainer'|translate}}
            </h3>

            <!-- Row 1 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Purpose'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <kendo-dropdownlist class="form-control form-control-sm" [data]="purposeArray"
                                            textField="Name" valueField="Value" id="purpose" name="purpose" [(ngModel)]="defaultPurpose"
                                            #selectedvalue (selectionChange)="onPurposeSelectChange($event)"></kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Login_Warehouse'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="whse" placeholder="{{'Login_Warehouse'|translate}}"
                                        name="whse" [(ngModel)]="whse" (blur)="onWhseChangeBlur()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetWhseCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'CreateMode'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <kendo-dropdownlist class="form-control form-control-sm" [data]="createModeArray"
                                            textField="Name" valueField="Value" id="createMode" name="createMode"
                                            [(ngModel)]="defaultCreateMode" #selectedvalue (selectionChange)="onCreateModeSelectChange($event)"></kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'BinCode'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="binNo" placeholder="{{'BinCode'|translate}}"
                                        name="binNo" [(ngModel)]="binNo" (blur)="onBinChangeBlur()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- <div class="col-sm-5">
    
                            </div> -->
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'ContainerType'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="containerTypeId"
                                        placeholder="{{'ContainerType'|translate}}" name="containerType" [(ngModel)]="containerType"
                                        (blur)="onContainerTypeChangeBlur('child')">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainerType('child')">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <div class="col-sm-5 ml-5">
                            <!-- col start -->
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'ContainerCode'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm">
                                            <!-- <input type="text" class="form-control form-control-sm mr-1" name='containerId'
                                                    [(ngModel)]="containerId" id="containerId" disabled> -->
                                            <input type="text" class="form-control form-control-sm" name='containerCode'
                                                [(ngModel)]="containerCode" id="containerCode" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>

                        <!-- <div class="col-sm-5">
                                
                            </div> -->
                    </div>
                </div>
            </div>

            <!-- Row 4 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'CTR_Parent_CT'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="parentContainerType"
                                        placeholder="{{'CTR_Parent_CT'|translate}}" name="parentContainerType"
                                        [(ngModel)]="parentContainerType" (blur)="onContainerTypeChangeBlur('parent')">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainerType('parent')">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="itemPackQty" class="col-sm-5 col-form-label">{{'ItemPackQty'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control form-control-sm text-right" name='itemPackQty'
                                            [ngModel]="itemPackQty|numberFormat" (ngModelChange)="itemPackQty=$event"
                                            id="itemPackQty" disabled>
                                        <input type="text" class="form-control form-control-sm ml-1 text-right" name='itemPack'
                                            [(ngModel)]="itemPack" id="itemPack" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'AutoPackRule'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="autoPackRuleId"
                                        placeholder="{{'AutoPackRule'|translate}}" name="autoPackRule" [(ngModel)]="autoPackRule"
                                        (blur)="onAutoPackRuleChangeBlur()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getAutoPackRule()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Length'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm text-right" name='width'
                                                [ngModel]="length|numberFormat" (ngModelChange)="length=$event" id="length"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 6 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'NoOfPackToGen'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm text-right" name='noOfPackToGen'
                                            [(ngModel)]="noOfPackToGen" id="noOfPackToGen">
                                        <!-- <input type="text" class="form-control form-control-sm ml-1" name='noOfPackToGen1'
                                                [(ngModel)]="noOfPackToGen1" id="noOfPackToGen1" placeholder="{{'0'}}"
                                                disabled>
                                            <input type="text" class="form-control form-control-sm ml-1" name='noOfPackToGen2'
                                                [(ngModel)]="noOfPackToGen2" id="noOfPackToGen2" placeholder="{{'0'}}"
                                                disabled> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Width'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm text-right" name='width'
                                                [ngModel]="width|numberFormat" (ngModelChange)="width=$event" id="width"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 7 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'AutoCloseWhenFull'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="opti_input-group-checkbox">
                                        <input type="checkbox" id="autoCloseWhenFull" name='autoCloseWhenFull' class="k-checkbox"
                                            (change)="onCheckChange()" />
                                        <label class="k-checkbox-label empty-check" for="autoCloseWhenFull"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'CT_Height'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm text-right" name='height'
                                                [ngModel]="height|numberFormat" (ngModelChange)="height=$event" id="height"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 8 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'SONumber'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="soNumber" placeholder="{{'SONumber'|translate}}"
                                        name="soNumber" [(ngModel)]="soNumber" (blur)="onSONumberChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getSOrderList()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'MaxWeigth'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm text-right" name="maxWeigth"
                                                id="maxWeigth" [ngModel]="maxWeigth|numberFormat" (ngModelChange)="maxWeigth=$event"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 9 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'ContainerGroupingCode'|translate}}</label>
                                <!-- <div class="col-sm-7">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm" name='CustomerTo'
                                                [(ngModel)]="CustomerTo" id="CustomerTo">
                                        </div>
                                    </div> -->
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="containerGroupCode"
                                        name="containerGroupCode" [(ngModel)]="containerGroupCode" (blur)="IsValidContainerGroupBlur()"
                                        placeholder="{{'ContainerGroupingCode'|translate}}">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForContainerGroup()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="containerWeigth" class="col-sm-5 col-form-label">{{'ContainerWeigth'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control form-control-sm text-right" name='containerWeigth'
                                            [ngModel]="containerWeigth|numberFormat" (ngModelChange)="containerWeigth=$event"
                                            id="containerWeigth" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 10 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'WO'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="containerGroupCode"
                                        name="workOrder" [(ngModel)]="workOrder" placeholder="{{'WO'|translate}}">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetWorkOrderList()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">
                            <div class="form-group row">
                                <label for="operationNo" class="col-sm-5 col-form-label">{{'Operation'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control form-control-sm" name='operationNo'
                                            [(ngModel)]="operationNo" id="operationNo" placeholder="{{'Operation'|translate}}"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 11 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="taskId" class="col-sm-5 col-form-label">{{'PT_TaskId'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="taskId" name="taskId"
                                        [(ngModel)]="taskId" placeholder="{{'PT_TaskId'|translate}}" disabled>
                                    <!-- <div class="input-group-append has-seprate-btn">
                                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="getTaskIds()">
                                                    <i class="opti-icon-search"></i>
                                                </button>
                                            </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-5 ml-5">

                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <div>
                <div class="row mt-3">
                    <div class="col-12 ">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="onCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onPostToInvClick('ScanAndCreate')"
                    [disabled]="!scanCreateEnable">
                    {{'PostToInv'|translate}}
                </button>
                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onContainerOperationClick('Create')">
                    {{'ContainerOperation'|translate}}
                </button>
                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onReopenClick()">
                    {{'ReOpen'|translate}}
                </button>
                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onSetDamagedClick()">
                    {{'Set_Damaged'|translate}}
                </button>

                <div class="btn-group  toggle-btn-outer">
                    <div class="dropdown show">
                        <a class="btn btn-success btn-sm toggle-btn" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="opti-icon-more"></i>
                        </a>
                        <div class="dropdown-menu mr-3 mb-1" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="onPostToInvClick()">{{'PostToInv'|translate}}</a>
                            <a class="dropdown-item" (click)="onContainerOperationClick()">{{'ContainerOperation'|translate}}</a>
                            <a class="dropdown-item" (click)="onReopenClick()">{{'ReOpen'|translate}}</a>
                            <a class="dropdown-item" (click)="onSetDamagedClick()">{{'Set_Damaged'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
</span>

<span *ngIf="showLookup==false && showOtherLookup==true">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='lookupData' (lookupkey)="getLookupKey($event, gridItem)"></app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>

<span *ngIf="showInputDialogFlag">
    <app-input-container-code [titleMessage]="titleMessage" [yesButtonText]="yesButtonText" [fromWhere]="inputDialogFor"
        [noButtonText]="noButtonText" (isYesClick)="getInputDialogValue($event)" [oSaveModel]="oSaveModel"></app-input-container-code>
</span>