<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Container_Maintenance'|translate}}
            </h3>

            <!-- Row 1 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-4 col-form-label">{{'ContainerCode'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="containerCode" name="containerCode" [(ngModel)]="containerCode"
                                        (blur)="onContainerCodeChange(ccode.value)" #ccode>
                                    <!--  placeholder="{{'ContainerCode'|translate}}" -->
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetAllContainer('')">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="packProcess" class="col-sm-4 col-form-label">{{'PackProcess'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="packProcess" name="packProcess" [(ngModel)]="packProcess" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <!-- <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="inventoryStatus" class="col-sm-4 col-form-label">{{'InventoryStatus'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="inventoryStatus" name="inventoryStatus" [(ngModel)]="inventoryStatus"
                                        disabled>
                                </div>
                            </div>
                        </div> -->
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="volume" class="col-sm-4 col-form-label">{{'Volume'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm text-right" name='volume' [ngModel]="volume|numberFormat" (ngModelChange)="volume=$event"
                                        id="volume" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="containerStatus" class="col-sm-4 col-form-label">{{'ContainerStatus'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="containerStatus" name="containerStatus" [(ngModel)]="containerStatus"
                                        disabled>
                                    <!--placeholder="{{'ContainerStatus'|translate}}"-->
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="warehouse" class="col-sm-4 col-form-label">{{'Login_Warehouse'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="binNo" name="warehouse" [(ngModel)]="warehouse" disabled>
                                    <!--placeholder="{{'Login_Warehouse'|translate}}"-->
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="weight" class="col-sm-4 col-form-label">{{'Weight'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm text-right" name='weight' [ngModel]="weight|numberFormat" (ngModelChange)="weight=$event"
                                        id="weight" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="ContainerType" class="col-sm-4 col-form-label">{{'ContainerType'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="ContainerType" name="ContainerType" [(ngModel)]="ContainerType"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <div class="col-sm-4">
                            <!-- col start -->
                            <div class="form-group row">
                                <label for="binCode" class="col-sm-4 col-form-label">{{'BinCode'|translate}}</label>
                                <div div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" name='binCode' [(ngModel)]="binCode" id="binCode" disabled>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="volumeUOM" class="col-sm-4 col-form-label">{{'VolumeUOM'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm text-right" name='volumeUOM' [ngModel]="volumeUOM" id="volumeUOM"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 4 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="shipEligible" class="col-sm-4 col-form-label">{{'Purpose'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="shipEligible" name="shipEligible" [(ngModel)]="purpose" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="AutoPackRule" class="col-sm-4 col-form-label">{{'AutoPackRule'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm text-left" name='AutoPackRule' [ngModel]="AutoPackRule" id="AutoPackRule"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="weightUOM" class="col-sm-4 col-form-label">{{'WeightUOM'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm text-right" name='weightUOM' [ngModel]="weightUOM" id="weightUOM"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="inventoryStatus" class="col-sm-4 col-form-label">{{'InventoryStatus'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="inventoryStatus" name="inventoryStatus" [(ngModel)]="inventoryStatus"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="SalesOrder" class="col-sm-4 col-form-label">{{'SalesOrder'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="SalesOrder" name="SalesOrder" [(ngModel)]="SalesOrder"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="ContGroupCode" class="col-sm-4 col-form-label">{{'ContGroupCode'|translate}}</label>
                                <div class="input-group col-sm-7 mr-2">
                                    <input type="text" class="form-control form-control-sm" id="ContGroupCode" name="ContGroupCode" [(ngModel)]="ContGroupCode"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- container items -->
            <div class="row">
                <div class="col-12">
                    <div class="wizard-container mt-3">
                        <div class="wizard-box">
                            <div class="wizard-content">
                                <kendo-grid [data]="containerItems" [skip]="skip" #gridUser [resizable]="true" [pageable]="false" [selectable]="true" [height]="320">
                                    <ng-template kendoGridToolbarTemplate>
                                        <span class="grid-toolbar-title">{{'Contents'|translate}}</span>
                                        <button tabIndex="-1" class="k-button k-primary btn mt-1 mb-1 float-right" type="button" (click)="onExpandCollapse()" *ngIf="containerItems.length != 0">
                                            <svg *ngIf="isExpand" viewBox="0 0 1024 1024" class="exp-coll-icon">
                                                <use xlink:href="#collapseAll"></use>
                                            </svg>
                                            <svg *ngIf="!isExpand" viewBox="0 0 1024 1024" class="exp-coll-icon">
                                                <use xlink:href="#expandAll"></use>
                                            </svg>
                                        </button>
                                    </ng-template>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="TYPE" title="{{'Type'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="160" field="CODE" title="{{'Code'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_QUANTITY" title="{{'Quantity'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_QUANTITY|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WEIGHT" title="{{'Weight'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_WEIGHT|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_VOLUME" title="{{'Volume'|translate}}" class="text-right">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <label class="col-form-label">{{di.OPTM_VOLUME|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="200" field="OPTM_PARENTCONTID" title="{{'Parent_CId'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPMENT_ID" title="{{'Shipment_Id'|translate}}">
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="60" field="OPTM_PICKED_TOSHIP" title="{{'Picked'|translate}}">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="di.OPTM_PICKED_TOSHIP" #chkSelection id="pickedToShip" class="k-checkbox" name="pickedToShip"
                                                    disabled />
                                                <label class="k-checkbox-label empty-check" for="pickedToShip"></label>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column> -->
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WHSE" title="{{'Login_Warehouse'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="200" field="OPTM_BIN" title="{{'BinCode'|translate}}">
                                    </kendo-grid-column>
                                  <!--  <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPELIGIBLE" title="{{'ShipEligible'|translate}}">
                                        <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="di.OPTM_SHIPELIGIBLE" #chkSelection id="shipEligible" class="k-checkbox" name="shipEligible"
                                                    disabled />
                                                <label class="k-checkbox-label empty-check" for="shipEligible"></label>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                     <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SO_NUMBER" title="{{'SONumber'|translate}}">
                                    </kendo-grid-column> -->

                                    <!-- style="width: 500px" -->
                                    <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="ShowContainerItems">
                                        <kendo-grid [data]="dataItem.ItemBatchSerailData" style="width: 1173px">
                                            <kendo-grid-column media="(min-width: 768px)" [width]="94" field="TYPE" title="{{'Type'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="160" field="CODE" title="{{'Code'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_QUANTITY" title="{{'Quantity'|translate}}" class="text-right">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <label class="col-form-label">{{di.OPTM_QUANTITY|numberFormat}}</label>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WEIGHT" title="{{'Weight'|translate}}" class="text-right">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <label class="col-form-label">{{di.OPTM_WEIGHT|numberFormat}}</label>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_VOLUME" title="{{'Volume'|translate}}" class="text-right">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <label class="col-form-label">{{di.OPTM_VOLUME|numberFormat}}</label>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="200" field="OPTM_PARENTCONTID" title="{{'Parent_CId'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPMENT_ID" title="{{'Shipment_Id'|translate}}">
                                            </kendo-grid-column>
                                            <!-- <kendo-grid-column media="(min-width: 768px)" [width]="60" field="OPTM_PICKED_TOSHIP" title="{{'Picked'|translate}}">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" [checked]="di.OPTM_PICKED_TOSHIP" #chkSelection id="pickedToShip" class="k-checkbox" name="pickedToShip"
                                                            disabled />
                                                        <label class="k-checkbox-label empty-check" for="pickedToShip"></label>
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column> -->
                                            <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_WHSE" title="{{'Login_Warehouse'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="200" field="OPTM_BIN" title="{{'BinCode'|translate}}">
                                            </kendo-grid-column>
                                            <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SHIPELIGIBLE" title="{{'ShipEligible'|translate}}">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" [checked]="di.OPTM_SHIPELIGIBLE" #chkSelection id="shipEligible" class="k-checkbox" name="shipEligible"
                                                            disabled />
                                                        <label class="k-checkbox-label empty-check" for="shipEligible"></label>
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_SO_NUMBER" title="{{'SONumber'|translate}}">
                                            </kendo-grid-column> -->
                                        </kendo-grid>
                                    </ng-template>
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="onCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>

                <div class="btn-group  toggle-btn-outer">
                    <div class="dropdown show">
                        <a class="btn btn-success btn-sm toggle-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="opti-icon-more"></i>
                        </a>
                        <div class="dropdown-menu mr-3 mb-1" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item cursor-pointer" *ngIf="containerStatus=='Closed'" (click)="onReopenClick()">{{'ReOpen'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatus!='Closed'">{{'ReOpen'|translate}}</a>

                            <a class="dropdown-item cursor-pointer" *ngIf="containerStatus!='Damaged'" (click)="onSetDamagedClick()">{{'Set_Damaged'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatus=='Damaged'">{{'Set_Damaged'|translate}}</a>

                            <a class="dropdown-item cursor-pointer" *ngIf="containerStatus!='Cancelled'" (click)="onSetCancelClick()">{{'CancelContainer'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatus=='Cancelled'">{{'CancelContainer'|translate}}</a>

                            <a class="dropdown-item" (click)="onCloseClick()" *ngIf="containerStatusEnum==2 || containerStatusEnum==4">{{'CloseContainer'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatusEnum!=4 && containerStatusEnum!=2">{{'CloseContainer'|translate}}</a>

                            <a class="dropdown-item" *ngIf="containerStatusEnum<=4" (click)="ShowSOandContainerCodeDialog(1)">{{'AssignSO'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatusEnum>4">{{'AssignSO'|translate}}</a>

                            <a class="dropdown-item" *ngIf="containerStatusEnum<=4" (click)="RemoveFromContainer(1)">{{'RemoveSO'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatusEnum>4">{{'RemoveSO'|translate}}</a>

                            <a class="dropdown-item" *ngIf="containerStatusEnum<=4" (click)="ShowSOandContainerCodeDialog(2)">{{'AssignCC'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatusEnum>4">{{'AssignCC'|translate}}</a>

                            <a class="dropdown-item" *ngIf="containerStatusEnum<=4" (click)="RemoveFromContainer(2)">{{'RemoveCC'|translate}}</a>
                            <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;" *ngIf="containerStatusEnum>4">{{'RemoveCC'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<kendo-dialog [width]="500" *ngIf="dialogOpened" (close)="close_kendo_dialog()">
    <div class="new-custom-grid">
        <kendo-dialog-titlebar>
            {{DialogTitle}}
        </kendo-dialog-titlebar>
        <div class="px-3">
            <div class="form-group row mt-2">
                <div class="input-group input-group-sm">
                    <label class="col-sm-4 col-form-label">{{dialogLabel}}</label>
                    <input type="text" id="dialogValue" name="dialogValue" class="col-sm-8 form-control form-control-sm mr-3" [(ngModel)]="dialogValue"
                        placeholder="{{dialogLabel}}" (blur)="DisplayAndValidateData('blur')">
                    <div class="input-group-append has-seprate-btn">
                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="DisplayAndValidateData('lookup')">
                            <i class="opti-icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <kendo-dialog-actions>
            <button class="ml-1" kendoButton (click)="onConfirmClick()" primary="true">{{'Confirm'|translate}}</button>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupDataValue($event)"></app-common-lookup>
</span>



<span *ngIf="showLookup==false && showOtherLookup==true">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='lookupData' (lookupkey)="getLookupKey($event, gridItem)"></app-common-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>

<span *ngIf="showInputDialogFlag">
    <app-input-container-code [titleMessage]="titleMessage" [yesButtonText]="yesButtonText" [fromWhere]="inputDialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getInputDialogValue($event)" [oSaveModel]="oSaveModel"></app-input-container-code>
</span>