<div class="opti_container position-relative bg-white rounded">


    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Whs_User_GroupMapping'|translate}}
            </h3>
            <!-- row1 start -->
            <div class="row">
                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'WarehouseCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='WhsCode'
                                    [(ngModel)]="WhsCode" id="CustomerFrom">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForWhsCode()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->

                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerTo"
                            class="col-sm-3 col-form-label">{{'WhsUserGroup_WHS_ZONE'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='lineId'
                                    [(ngModel)]="lineId" id="lineId">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForCustomer('CustTo')" [disabled]=isUpdate>
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row1 end -->



             <!-- row2 start -->
             <div class="row">
                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'WhsUserGroup_Bin_Range'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='WhsCode'
                                    [(ngModel)]="binRange" id="binRange">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetBinRange()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->

                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerTo"
                            class="col-sm-3 col-form-label">{{'WhsUserGroup_UserGroup_Picking'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='lineId'
                                    [(ngModel)]="lineId" id="lineId">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForCustomer('CustTo')" [disabled]=isUpdate>
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->


             <!-- row start -->
             <div class="row">
                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'WhsUserGroup_User_Group_Packing'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='WhsCode'
                                    [(ngModel)]="WhsCode" id="CustomerFrom">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForWhsCode()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->

                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerTo"
                            class="col-sm-3 col-form-label">{{'WhsUserGroup_User_Group_Putaway'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='lineId'
                                    [(ngModel)]="lineId" id="lineId">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForCustomer('CustTo')" [disabled]=isUpdate>
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->



               <!-- row start -->
               <div class="row">
                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'WhsUserGroup_User_Group_Receiving'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='WhsCode'
                                    [(ngModel)]="WhsCode" id="CustomerFrom">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForWhsCode()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->

                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerTo"
                            class="col-sm-3 col-form-label">{{'WhsUserGroup_User_Group_Shipping'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='lineId'
                                    [(ngModel)]="lineId" id="lineId">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForCustomer('CustTo')" [disabled]=isUpdate>
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->


             <!-- row start -->
             <div class="row">
                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-3 col-form-label">{{'WhsUserGroup_User_Group_Returns'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='WhsCode'
                                    [(ngModel)]="WhsCode" id="CustomerFrom">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForWhsCode()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->

                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="CustomerTo"
                            class="col-sm-3 col-form-label">{{'WhsUserGroup_User_Group_Move'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name='lineId'
                                    [(ngModel)]="lineId" id="lineId">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetDataForCustomer('CustTo')" [disabled]=isUpdate>
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->

            <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"
                (deleteClick)="onDeleteRowClick($event)" (deleteSelectedItems)="OnDeleteSelected($event)"
                (copyItem)="onCopyItemClick($event)"></app-lookup>

        </div>
        <div class="fix-footer-btnBar">

            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"
                    (click)="OnCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                <!-- <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="OnDeleteSelected()">
                  <span class="k-icon k-i-close-outline" role="presentation"></span> 
                  {{'CT_DeleteAll'|translate}}</button> -->
                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'CT_Add'|translate}}</button>
            </div>
        </div>
    </form>

</div>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>