<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'ContainerAutoRule'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_CPackRule'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="CAR_CPackRule" [(ngModel)]="CAR_CPackRule" placeholder="{{'CAR_CPackRule'|translate}}"
                                    [disabled]=isUpdate>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CT_Description'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="OPTM_RULE_DESC" [(ngModel)]="OPTM_RULE_DESC" placeholder="{{'CT_Description'|translate}}"
                                    >
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CT_ContainerType'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="CAR_ContainerType" [(ngModel)]="CAR_ContainerType" placeholder="{{'CT_ContainerType'|translate}}"
                                    (blur)="OnContainerTypeChangeBlur()" #VendScanInputField [disabled]=isUpdate id="InboundDetailVendScanInputField">
                                <div class="input-group-append">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForContainerType()" [disabled]=isUpdate>
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label label for="inputPassword" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'Container_Use'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="PackTypeList" id="CAR_PackType" 
                            (change) = "updateDropDown(display_name, VendorLot.value, rowIndex)"
                            name="CAR_PackType" [(ngModel)]="CAR_PackType" [disabled]=isUpdate>
                            </kendo-dropdownlist>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_AddPartsToContainer'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="opti_input-group-checkbox">
                                <input type="checkbox" id="ch7" name='CAR_AddPartsToContainer' [(ngModel)]="CAR_AddPartsToContainer"
                                    class="k-checkbox" checked />
                                <label class="k-checkbox-label empty-check" for="ch7"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           

            <div class="row">
                <div class="col-md-12">
                    <div class="card shipment-widget-box">
                        <h5 class="card-header"><button class="float-right btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="AddRow()">
                            <span class="k-icon k-i-plus" role="presentation"></span>{{'Masking_AddRow'|translate}}</button></h5>                        
     
                    <kendo-grid class="no-shadow" [data]="autoRuleArray" [resizable]="true" [sortable]="true" [selectable]="true"
                        #gridItem>

                        <!-- grid for mobile start -->
                        <!-- <kendo-grid-column media="(max-width: 767px)" title="List" class="opti_mobile-grid-td">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex='rowIndex'>
                                        <dl class="opti_mobile_grid_dl">
                                            <dt style="margin-top:4px;">{{mfrGridColumnText}}</dt>
                                            <dd>
                                                <input type="text" class="form-control form-control-sm" name="dataItem.VendorLot"
                                                [disabled]="isDisabledScanInput" id="VendorLot" #VendorLot (change)="updateVendorLot(display_name, VendorLot.value, rowIndex)">
                                            </dd>
        
                                            <dt>{{'Quantity'|translate}}</dt>
                                            <dd>{{dataItem.LotQty | numberFormat}}</dd>
        
                                            <dt>{{'ExpiryDate'|translate}}</dt>
                                            <dd>{{dataItem.expiryDate | date:dateFormat}}</dd>
                                        </dl> 
        
                                        <dl class="opti_mobile_grid_dl">
                                            <dt class="d-flex align-items-center">{{SRBatchColumnText}}
                                                <button type="button" class="btn btn-danger k-button btn-sm btn-icon ml-auto"
                                                    style="margin-bottom: 2px;" (mousedown)="openConfirmForDelete(rowIndex, gridItem)">
                                                    <span class="k-icon k-i-delete" role="presentation"></span>
                                                </button>
                                            </dt>
                                            <dd>
                                                <input type="text" class="form-control form-control-sm" name="dataItem.LotNumber"
                                                    [disabled]="isDisabledLotNoField" id="display_name1" [(ngModel)]=dataItem.LotNumber
                                                    #display_name (change)="updateLotNumber(display_name, display_name.value, rowIndex, gridItem)">
                                            </dd>
        
                                            <dt>{{'BinNo'|translate}}</dt> 
                                            <dd>{{dataItem.Bin}}</dd>
        
                                            <dt>{{'Plt_PalletNo'|translate}}</dt>
                                            <dd>{{dataItem.PalletCode}}</dd>
                                        </dl>
                                    </ng-template>
                                </kendo-grid-column> -->
                        <!-- grid for mobile end -->

                        <!-- <kendo-grid-column media="(min-width: 768px)" field="ruleId" [width]="18" title="{{'CAR_CPackRule'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                <input type="number" class="text-right form-control form-control-sm" name="dataItem.ruleId" value={{dataItem.ruleId}} id="display_name"
                                    min="0" #display_name (change)="updateRuleId(display_name, display_name.value, idx)">
                            </ng-template>
                        </kendo-grid-column> -->

                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_ITEMCODE" [width]="18" title="{{'CAR_ItemCode'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_ITEMCODE" value={{dataItem.OPTM_ITEMCODE}} id="display_name" #display_name (blur)="IsValidItemCode(idx, display_name.value, display_name)">
                                    <div class="input-group-append">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetItemCodeList(idx)">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>

                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_PARTS_PERCONT" [width]="18" title="{{'CAR_PartsPerContainer'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                <input type="number" class="text-right form-control form-control-sm" name="dataItem.OPTM_PARTS_PERCONT" value={{dataItem.OPTM_PARTS_PERCONT}}
                                    id="display_name" min="0" #display_name (change)="updatePartperCont(display_name, display_name.value, idx)">
                            </ng-template>
                        </kendo-grid-column>

                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_MIN_FILLPRCNT" headerClass="text-left" class="text-center" [width]="18" title="{{'CAR_MinFillPercent'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                <input type="number" class="text-right form-control form-control-sm" name="dataItem.OPTM_MIN_FILLPRCNT" value={{dataItem.OPTM_MIN_FILLPRCNT}} id="display_name"
                                    #display_name (change)="updateMinfill(display_name, display_name.value, idx)" min="0">
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_PACKING_MATWT" headerClass="text-left" class="text-center" [width]="18" title="{{'CAR_MAT_WT'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                    <input type="number" class="text-right form-control form-control-sm" name="dataItem.OPTM_PACKING_MATWT" value={{dataItem.OPTM_PACKING_MATWT}} id="display_name"
                                        #display_name (change)="updateMatWTfill(display_name, display_name.value, idx)" min="0">
                                </ng-template>
                            </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" headerClass="text-left" class="text-center" [width]="10" title="{{'Action'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (mousedown)="openConfirmForDelete(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete" role="presentation"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" (mousedown)="onCancelClick()" type="button">
                    <i class="opti-icon-arrow-back"></i>
                </button>
                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddUpdateClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{BtnTitle}}</button>
            </div>
        </div>
    </form>

</div>

<span [hidden]="hideLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>