<div class="opti_container position-relative bg-white rounded">
        <form class="form-with-fix-btnBar">
            <div class="opti_container_inner" [perfectScrollbar]=" ">
    
                <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                     <span *ngIf="IsShipment">{{'Container_BatchSerial'|translate}} : (Shipment Id - {{SelectedShipmentId}} WH - {{SelectedWhse}} Bin - {{SelectedBin}})</span>
                     <span *ngIf="!IsShipment">{{'Container_BatchSerial'|translate}}</span>
                </h3>
                <div class="row">
                   <div class="col-12">
                    <div class="row">
                      
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="ContainsItemID" class="col-sm-4 col-form-label">{{'ItemCode'|translate}}</label>
                              <div class="input-group col-sm-7">
                                 <!-- <input type="text" class="form-control form-control-sm" name='ContainsItemID' [(ngModel)]=ContainsItemID 
                                 id="ContainsItemID" (blur)="onContainsItemChange()"> -->
                                 <kendo-dropdownlist class="form-control form-control-sm" [data]="ItemCodeArray"
                                 textField="OPTM_ITEMCODE" valueField="OPTM_ITEMCODE" id="ItemCode" name="ItemCode" [(ngModel)]="ContainsItemDD"
                                 #selectedvalue (selectionChange)="onItemCodeChange($event)"></kendo-dropdownlist>
                               </div>
                               <!-- <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainsItem('lookup')">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div> -->
                            </div>
                        </div>
                      </div>                    
                    </div>
                   
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <div class="row">                         
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="WarehouseId" class="col-sm-4 col-form-label">{{'Warehouse'|translate}}</label>
                                    <div class="input-group col-sm-7">
                                        <input type="text" class="form-control form-control-sm" name='WarehouseId' [(ngModel)]=WarehouseId 
                                        id="WarehouseId" (blur)="onWhseChange()">
                                    </div>
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetWhseCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    
                </div>
    
                <div class="row">
                        <div class="col-12">
                         <div class="row">

                         <div class="col-sm-6">
                             <div class="form-group row">
                                 <label for="BinId" class="col-sm-4 col-form-label">{{'Bin'|translate}}</label>
                                   <div class="input-group col-sm-7">
                                      <input type="text" class="form-control form-control-sm" name='BinId' [(ngModel)]=BinId id="BinId"
                                      (blur)="onBinChange()">
                                    </div>
                                    <div class="input-group-append has-seprate-btn">
                                         <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCode()">
                                             <i class="opti-icon-search"></i>
                                         </button>
                                     </div>
                                   </div>
                          </div>     
                          <div class="col-sm-6">
                                <div class="form-group row">
                                  <button type="button" text="Select Shipments" (click)="onQueryBtnClick()">{{'Query'|translate}}</button>  
                              </div>
                           </div>
                           </div>                    
                         </div>
                </div>
    
                <!-- <div class="row">
                        <div class="col-12">
                         <div class="row">

                         <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="ShipmentId" class="col-sm-4 col-form-label">{{'Shipment_Id'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" name='ShipmentId' [(ngModel)]=ShipmentId id="ShipmentId">
                            </div>                                   
                             </div>
                             </div>    
                            <div class="col-sm-6">
                              <div class="form-group row">
                                <button type="button" text="Select Shipments" (click)="onQueryBtnClick()">{{'Query'|translate}}</button>  
                            </div>
                        </div>
                    </div>                    
                </div>
                        
                </div> -->
                
                <div class="row">
                        <div class="col-12">
                           <h5 class="card-header">{{'Container_BatchSerial'|translate}}</h5>
                           <div class="card-body">
                                <kendo-grid [kendoGridBinding]="ContainerBatchSerials" [resizable]="true" [height]="200" [pageSize]="pageSize" [pageable]="ShowGridPaging" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">
                                    <kendo-grid-column field="Selected" width="85" title="Select">
                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                            <label class="custom-checkbox mb-0">
                                                <input type="checkbox" #checkedselectedvalue
                                                    (change)="selectContainerRowChange(checkedselectedvalue.checked,dataItem,rowIndex)" [checked]="dataItem.Selected">
                                                <span class="checkbox"></span>
                                            </label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column field="Select" class="text-right" width="85" title="Select"></kendo-grid-column> -->
                                    <!-- <kendo-grid-column field="OPTM_BatchSerial" width="100" title="{{'Batch_Serial'|translate}}"></kendo-grid-column> -->
                                    <kendo-grid-column field="ITEMCODE" width="100" title="Item Code"></kendo-grid-column>
                                    <kendo-grid-column field="WHSCODE" width="95" title="Warehouse Code"></kendo-grid-column>
                                    <kendo-grid-column field="BINNO" width="100" title="Bin No"></kendo-grid-column>
                                    <kendo-grid-column field="LOTNO" width="108" title="Lot No"></kendo-grid-column>
                                    <kendo-grid-column field="AvailableQty" width="100" class="text-right" title="Available Quantitiy"></kendo-grid-column>
                                    <kendo-grid-column field="QtytoAssign" width="100" class="text-right" title="Quantity to Assign">
                                      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <input type="text" fieldSize="small" name="dataItem.QtytoAssign" class="form-control form-control-sm text-right" id="AssignQtyid"
                                        (keypress)="numberOnly($event)" (change)="onAssignedQtyChange(AssignQty.value,rowIndex)"
                                        value={{dataItem.QtytoAssign}} #AssignQty title="Quantity to Assign" />
                                      </ng-template>
                                    </kendo-grid-column> 
                                </kendo-grid>
                            </div>
                        </div>
                </div>  
                
                <div class="row">
                    <div class="d-flex flex-row">
                        <label for="OpenQty" class="col-sm-4 col-form-label">{{'Open_Qty'|translate}}</label>
                        <div class="col-sm-4 input-group">
                            <input type="text" class="form-control form-control-sm" name='OpenQtyId' [(ngModel)]=OpenQty id="OpenQtyId" disabled>
                        </div> 
                        <!-- <label for="RowCount" class="col-sm-2 col-form-label">{{'Row_Count'|translate}}</label>
                        <div class="col-sm-4 input-group">
                            <input type="text" class=" form-control form-control-sm" name='RowCountId' [(ngModel)]=RowCount id="RowCountId" disabled>
                        </div>  -->
                        <label for="SelectedQty" class="col-sm-4 col-form-label">{{'Selected_Qty'|translate}}</label>
                        <div class="col-sm-4 input-group">
                            <input type="text" class="form-control form-control-sm" name='SelectedQtyId' [(ngModel)]=SelectedQty id="SelectedQtyId" disabled>
                        </div>    
                    </div>
                </div>
    
                <div class="fix-footer-btnBar">
                    <div class="col-sm-12 col-12">
                        <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" type="button" *ngIf="IsShipment" (click)="onArrowBtnClick()">
                            <i class="opti-icon-arrow-back"></i>
                        </button>
                        <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (mousedown)="onCancelClick()" *ngIf="!IsShipment">
                            <span class="k-icon k-i-close-outline" role="presentation"></span>{{'Cancel'|translate}}</button>
                        <!-- <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onSelectShipmentPres()" [disabled]="IsShipment">
                            <span class="k-icon k-i-check" role="presentation"></span>{{'Select_Shipment'|translate}}</button> -->
                        <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onAssignShipmentPress()">
                            <span class="k-icon k-i-check" role="presentation"></span>{{'Assign_to_shipment'|translate}}</button>
                        <!-- <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onRemoveShipmentPress()">
                            <span class="k-icon k-i-check" role="presentation"></span>{{'Remove_from_shipment'|translate}}</button>   -->
                    </div>
                </div>
    
            </div>
          </form>
    </div>
    
    <span *ngIf="showLookup">
        <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
    </span>
    
    <div class="opti_loader full-section" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
        