<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4" *ngIf="IsWIPCont">
                {{'CreateContainerWIP'|translate}}
            </h3>
            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4" *ngIf="!IsWIPCont">
                {{'CreateContainer'|translate}}
            </h3>
<!-- Row 1 -->
<div class="row" *ngIf="IsWIPCont">
        <div class="col-12">
            <!-- row start -->
            <div class="row">             

                <!-- col start -->
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="CustomerTo" class="col-sm-5 col-form-label">{{'WO'|translate}}</label>
                        <div class="input-group col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="containerGroupCode"
                                        name="workOrder" [(ngModel)]="workOrder" (blur)="onWorkOrderChangeBlur()">
                                <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetWorkOrderList()">
                                                <i class="opti-icon-search"></i>
                                            </button>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- col end -->
                   <!-- col start -->
                   <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Produced'|translate}}</label>
                        <div class="col-sm-7">
                                <div class="">
                                    <div class="">
                                            <input type="text" class="form-control form-control-sm text-right" id="ProducedQtyId"
                                   name="ProducedQtyId" [(ngModel)]="ProducedQty" disabled>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- col end -->
                  <!-- col start -->
                  <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Rejected'|translate}}</label>
                        <div class="col-sm-7">
                            <div class="">                                
                                   <input type="text" class="form-control form-control-sm text-right" name='RejectedQtyId'
                                   [(ngModel)]="RejectedQty" id="RejectedQtyId" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
        </div>
    </div>
    <!-- Row 10 -->
 <div class="row" *ngIf="IsWIPCont">
        <div class="col-12">
            <!-- row start -->
            <div class="row">            

                <!-- col start -->
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="containerWeigth" class="col-sm-5 col-form-label">{{'TaskId/Opn#'|translate}}</label>
                        <div class="col-sm-7">
                            <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" id="taskId"
                                    name="taskId" [(ngModel)]="taskId" disabled>
                                    <input type="text" class="form-control form-control-sm ml-1 text-right" id="OperationNoId"
                                    name="OperationNoId" [(ngModel)]="operationNo" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
                   <!-- col start -->
                   <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Passed'|translate}}</label>
                        <div class="col-sm-7">
                                <div class="">                                    
                                    <input type="text" class="form-control form-control-sm text-right" name='PassedQtyId'
                                    [ngModel]="PassedQty" id="PassedQtyId"
                                    disabled>                                  
                                </div>
                            </div>
                    </div>
                </div>
                <!-- col end -->
                  <!-- col start -->              
                <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="RejectedNC" class="col-sm-5 col-form-label">{{'NC'|translate}}</label>
                            <div class="col-sm-7">
                                <div class="">
                                    <input type="text" class="form-control form-control-sm text-right" name='NCQtyId'
                                        [(ngModel)]="NCQty" id="NCQtyId" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- col end -->
            </div>
        </div>
    </div>
  
 
            <!-- Row 1 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Purpose'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <kendo-dropdownlist class="form-control form-control-sm" [data]="purposeArray"
                                            textField="Name" valueField="Value" id="purpose" name="purpose" [(ngModel)]="defaultPurpose"
                                            #selectedvalue (selectionChange)="onPurposeSelectChange($event)"></kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Login_Warehouse'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="whse" 
                                        name="whse" [(ngModel)]="whse" (blur)="onWhseChangeBlur()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetWhseCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                            <!-- col start -->
                            <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Cont_Code'|translate}}</label>
                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group input-group-sm">
                                                    <!-- <input type="text" class="form-control form-control-sm mr-1" name='containerId'
                                                        [(ngModel)]="containerId" id="containerId" disabled> -->
                                                    <input type="text" class="form-control form-control-sm" name='containerCode'
                                                        [(ngModel)]="containerCode" id="containerCode" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">

                        <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'CreateMode'|translate}}</label>
                                    <div class="col-sm-7">
                                        <div class="input-group input-group-sm">
                                            <kendo-dropdownlist class="form-control form-control-sm" [data]="createModeArray"
                                                textField="Name" valueField="Value" id="createMode" name="createMode"
                                                [(ngModel)]="defaultCreateMode" #selectedvalue (selectionChange)="onCreateModeSelectChange($event)"></kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'BinCode'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="binNo"
                                        name="binNo" [(ngModel)]="binNo" (blur)="onBinChangeBlur()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Status'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm" name='ContStatusId'
                                                [ngModel]="ContStatus" id="ContStatusId" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- col end -->                 
                       
                    </div>
                </div>
            </div>

        <!-- Row 2 -->
        <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">

                    <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Cont_Type'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="containerTypeId"
                                       name="containerType" [(ngModel)]="containerType"
                                        (blur)="onContainerTypeChangeBlur('child')">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainerType('child')">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <!-- col start -->
                        <!-- <div class="col-sm-4" >
                            <div class="form-group row">
                                <label for="itemPackQty" class="col-sm-5 col-form-label">{{'ItemPackQty'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control form-control-sm text-right" name='itemPackQty'
                                            [ngModel]="itemPackQty|numberFormat" (ngModelChange)="itemPackQty=$event" id="itemPackQty"
                                            disabled>                                        
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'SONumber'|translate}}</label>
                                    <div class="input-group col-sm-7">
                                        <input type="text" class="form-control form-control-sm" id="soNumber" 
                                            name="soNumber" [(ngModel)]="soNumber" (blur)="onSONumberChange()">
                                        <div class="input-group-append has-seprate-btn">
                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getSOrderList()">
                                                <i class="opti-icon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Length'|translate}}</label>
                            <div class="col-sm-7">
                                <div class="input-group input-group-sm">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm text-right" name='width'
                                            [ngModel]="length|numberFormat" (ngModelChange)="length=$event" id="length" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->                 
                        
                    </div>
                </div>
            </div>

            <!-- Row 4 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'Parent_Cont_Type'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="parentContainerType"
                                        name="parentContainerType"
                                        [(ngModel)]="parentContainerType" (blur)="getParentContainerType('blur')" [disabled]="!IsDisableRule"> 
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getParentContainerType('lookup')" [disabled]="!IsDisableRule">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        <!-- col start -->
                        <!-- <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'NoOfPackToGen'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm text-right" name='noOfPackToGen'
                                            [(ngModel)]="noOfPackToGen" id="noOfPackToGen">                                       
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="CustomerFrom" style="white-space: nowrap;" class="col-sm-5 col-form-label">{{'ContainerGroupingCode'|translate}}</label>
                                    <div class="input-group col-sm-7">
                                        <input type="text" class="form-control form-control-sm" id="containerGroupCode"
                                            name="containerGroupCode" [(ngModel)]="containerGroupCode" (blur)="IsValidContainerGroupBlur()">                                       
                                        <div class="input-group-append has-seprate-btn">
                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForContainerGroup()">
                                                <i class="opti-icon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        <!-- col end -->
                       <!-- col start -->
                       <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'Width'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="">
                                        <div class="">
                                            <input type="text" class="form-control form-control-sm text-right" name='width'
                                                [ngModel]="width|numberFormat" (ngModelChange)="width=$event" id="width" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
    
                    </div>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                  
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'AutoPackRule'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="autoPackRuleId"
                                       name="autoPackRule" [(ngModel)]="autoPackRule"
                                        (blur)="onAutoPackRuleChangeBlur()" [disabled]="IsDisableRule">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" [disabled]="IsDisableRule" (mousedown)="getAutoPackRule()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- col end -->
                          <!-- col start -->
                          <div class="col-sm-4">
                            <div class="form-group row" *ngIf="false">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'SONumber'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="soNumber" 
                                        name="soNumber" [(ngModel)]="soNumber" (blur)="onSONumberChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getSOrderList()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerTo" class="col-sm-5 col-form-label">{{'CT_Height'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="">
                                        <div class="">
                                            <input type="text" class="form-control form-control-sm text-right" name='height'
                                                [ngModel]="height|numberFormat" (ngModelChange)="height=$event" id="height" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div>

            <!-- Row 7 -->
            <div class="row">
                <div class="col-12">
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="CustomerFrom" class="col-sm-5 col-form-label">{{'AutoCloseWhenFull'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="opti_input-group-checkbox">
                                        <input type="checkbox" id="autoCloseWhenFull" name='autoCloseWhenFull' class="k-checkbox"
                                            (change)="onCheckChange()" />
                                        <label class="k-checkbox-label empty-check" for="autoCloseWhenFull"></label>
                                    </div>
                                </div>
                            </div>    
                        </div>
                               
                        <!-- col end -->
                        <!-- col start -->
                        <div class="col-sm-4">
                            <div class="form-group row" *ngIf="false">
                                <label for="CustomerFrom" style="white-space: nowrap;" class="col-sm-5 col-form-label">{{'ContainerGroupingCode'|translate}}</label>
                                <div class="input-group col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="containerGroupCode"
                                        name="containerGroupCode" [(ngModel)]="containerGroupCode" (blur)="IsValidContainerGroupBlur()">                                       
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForContainerGroup()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->

                        
                           <!-- col start -->
                           <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="containerWeigth" class="col-sm-5 col-form-label">{{'MaxWeight/ContainerWeigth'|translate}}</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm text-right" name='containerWeigth'
                                            [ngModel]="containerWeigth|numberFormat" (ngModelChange)="containerWeigth=$event" id="containerWeigth" disabled>
                                        <input type="text" class="form-control form-control-sm text-right ml-1" name="maxWeigth"
                                        id="maxWeigth" [ngModel]="maxWeigth|numberFormat" (ngModelChange)="maxWeigth=$event" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                </div>
            </div> 

            <div>
                <!-- <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-5">
                                <h4>{{'OtherItemsTitle'|translate}}</h4>
                            </div>
                            <div class="col-sm-5">
                                <div class="opti_input-group-checkbox">
                                    <input type="checkbox" id="fromContainer" name='fromContainer' class="k-checkbox"
                                        checked />
                                    <label class="k-checkbox-label empty-check">{{'FromContainer'|translate}}</label>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div> -->
                <br> 
                <div class="row">
                    <div class="col-12">
                        <kendo-grid class="no-shadow" [data]="fromContainerDetails" [resizable]="true" [sortable]="true"
                            [selectable]="true" id="gridItem" [height]="200" #gridItem >
                            <!-- grid template start -->
                            <ng-template kendoGridToolbarTemplate>
                                <span class="grid-toolbar-title">{{'OtherItemsTitle'|translate}}</span>
                                <span class="opti_input-group-checkbox">
                                    <input type="checkbox" id="fromContainer" name='fromContainer' class="k-checkbox"
                                        (change)="onFromContainerCheckChange()" />
                                    <label class="k-checkbox-label empty-check" for="fromContainer">{{'FromContainer'|translate}}</label>
                                </span>
                            </ng-template>
                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="{{'List'|translate}}" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>{{dataItem.OPTM_ITEMCODE}}</dt>
                                        <dd>{{dataItem.OPTM_PARTS_PERCONT}}</dd>
                                        <dt>{{dataItem.OPTM_CONTAINERID}}</dt>
                                        <dd>{{dataItem.AvlQty}}</dd>
                                        <dd>{{dataItem.OPTM_MIN_FILLPRCNT}}</dd>
                                        <dd>{{dataItem.BinCode}}</dd>
                                        <dd>{{dataItem.QuantityToAdd}}</dd>
                                    </dl>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>{{'#'}}</dt>
                                        <dt>{{'ItemCode'|translate}}</dt>
                                        <dd>{{'Item_Container_Quantity'|translate}}</dd>
                                        <dt>{{'Container'|translate}}</dt>
                                        <dd>{{'AvailableQty'|translate}}</dd>
                                        <dd>{{'InvQty'|translate}}</dd>
                                        <dd>{{'BinNo'|translate}}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column media="(min-width: 768px)" field="OPTM_ITEMCODE" [width]="45"  headerClass="text-left" title="{{'ItemCode'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                <span *ngIf="!IsWIPCont || (IsWIPCont && dataItem.OPTM_ITEMCODE != SelectedWOItemCode)">{{dataItem.OPTM_ITEMCODE}}</span>
                                <span *ngIf="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode" class="font-weight-bold text-primary">
                                    {{dataItem.OPTM_ITEMCODE}}</span>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="OPTM_PARTS_PERCONT" [width]="45" title="{{'Item_Container_Quantity'|translate}}"
                                headerClass="text-left" class="text-right">
                                <!-- <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.OPTM_PARTS_PERCONT|numberFormat}}
                                </ng-template> -->
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="!IsWIPCont || (IsWIPCont && dataItem.OPTM_ITEMCODE != SelectedWOItemCode)">{{dataItem.OPTM_PARTS_PERCONT|numberFormat}}</span>
                                    <span *ngIf="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode" class="font-weight-bold text-primary">
                                        {{dataItem.OPTM_PARTS_PERCONT|numberFormat}}</span>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="OPTM_CONTAINERID" [width]="45" title="{{'Container'|translate}}"
                                *ngIf="fromContainer">
                                <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_CONTAINERID"
                                            value={{dataItem.OPTM_CONTAINERID}} id="contId" min="0" #contId>
                                        <div class="input-group-append">
                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetListOfContainerBasedOnRule(dataItem, idx)">
                                                <i class="opti-icon-hammenu"></i>
                                            </button>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="AvlQty" [width]="45" title="{{'AvailableQty'|translate}}"
                                headerClass="text-left" class="text-right">
                                <!-- <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.AvlQty}}
                                </ng-template> -->
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="!IsWIPCont || (IsWIPCont && dataItem.OPTM_ITEMCODE != SelectedWOItemCode)">{{dataItem.AvlQty}}</span>
                                    <span *ngIf="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode" class="font-weight-bold text-primary">
                                        {{dataItem.AvlQty}}</span>
                                </ng-template>                                
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="OPTM_MIN_FILLPRCNT" [width]="45" title="{{'InvQty'|translate}}"
                                headerClass="text-left" class="text-right">                                
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="!IsWIPCont || (IsWIPCont && dataItem.OPTM_ITEMCODE != SelectedWOItemCode)">{{dataItem.OPTM_MIN_FILLPRCNT}}</span>
                                    <span *ngIf="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode" class="font-weight-bold text-primary">
                                        {{dataItem.OPTM_MIN_FILLPRCNT}}</span>
                                </ng-template>  
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="BinCode" headerClass="text-left" [width]="60" title="{{'BinNo'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="!IsWIPCont || (IsWIPCont && dataItem.OPTM_ITEMCODE != SelectedWOItemCode)">{{dataItem.BinCode}}</span>
                                    <span *ngIf="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode" class="font-weight-bold text-primary">
                                        {{dataItem.BinCode}}</span>
                                </ng-template> 
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="QuantityToAdd" [width]="45" title="{{'QtyAdded'|translate}}"
                                headerClass="text-left" class="text-right">                                
                                <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm text-right" name="qtytoadd"
                                            value={{dataItem.QuantityToAdd|numberFormat}} id="qtytoadd" min="0"
                                            #qtytoadd (change)="onQtyChange(qtytoadd.value, idx)" disabled> <!--[disabled]="dataItem.isDesable"-->
                                    </div>
                                    <!-- <div class="input-group input-group-sm" *ngIf="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode">
                                        <input type="text" class="form-control form-control-sm text-right" class="font-weight-bold text-primary" name="qtytoadd"
                                            value={{dataItem.QuantityToAdd|numberFormat}} id="qtytoadd" min="0"
                                            #qtytoadd (change)="onQtyChange(qtytoadd.value, idx)" disabled> 
                                    </div> -->
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" [width]="45" headerClass="text-left" title="{{'Action'|translate}}" class="text-left">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <button type="button" class="btn btn-danger k-button btn-sm btn-icon"
                                        (click)="onShowBSClick(dataItem, rowIndex)" [disabled]="IsWIPCont && dataItem.OPTM_ITEMCODE == SelectedWOItemCode" >
                                        <span class="opti-icon-search" role="presentation"></span>
                                    </button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
                <div class="col-sm-12 col-12">
                    <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="onCancelClick()">
                        <span class="k-icon k-i-close-outline" role="presentation"></span>
                        {{'Cancel'|translate}}</button>
                    <!-- <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onScanAndCreateClick('ScanAndCreate')"
                        [disabled]="!scanCreateEnable">
                        {{'ScanCreate'|translate}}
                    </button> -->
                    <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onCreateClick('Create')">
                        {{'Create'|translate}}
                    </button>
                    <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onResetClick()">
                        {{'Login_Reset'|translate}}
                    </button>
                    <!-- <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onResetClick()">
                        {{'ResetCounter'|translate}}
                    </button>
                    <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onPrintLabelClick()">
                        {{'PrintLabel'|translate}}
                    </button>
                    <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text mr-1" (click)="onContainerOperationClick()">
                        {{'ContainerOperation'|translate}}
                    </button> -->
    
                    <div class="btn-group  toggle-btn-outer">
                        <div class="dropdown show">
                            <a class="btn btn-success btn-sm toggle-btn" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="opti-icon-more"></i>
                            </a>
                            <div class="dropdown-menu mr-3 mb-1" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item cursor-pointer" (click)="onScanAndCreateClick()">{{'ScanCreate'|translate}}</a>
                                <!-- <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;">{{'Login_Reset'|translate}}</a> -->
                                <!-- <a class="dropdown-item">{{'ResetCounter'|translate}}</a> -->
                                <a class="dropdown-item" style="color: gray; cursor: not-allowed; pointer-events: none;">{{'PrintLabel'|translate}}</a>
                                <a *ngIf="IsWIPCont" class="dropdown-item cursor-pointer" (click)="onBuildParentContClick()">{{'BuildParentContainer'|translate}}</a>
                                <a class="dropdown-item cursor-pointer" (click)="onContainerOperationClick()">{{'ContainerOperation'|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupDataValue($event)"></app-common-lookup>
</span>

<span *ngIf="showLookup==false && showOtherLookup==true">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='lookupData' (lookupkey)="getLookupKey($event)"></app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>

<span *ngIf="showInputDialogFlag">
    <app-input-container-code [titleMessage]="titleMessage" [yesButtonText]="yesButtonText" [fromWhere]="inputDialogFor"
        [noButtonText]="noButtonText" (isYesClick)="getInputDialogValue($event)" [oSaveModel]="oSaveModel"></app-input-container-code>
</span>

<span *ngIf="showParentInputDialogFlag">
        <app-input-parent-container [titleMessage]="titleMessage" [yesButtonText]="yesButtonText" [fromWhere]="inputDialogFor"
            [noButtonText]="noButtonText" (isYesClick)="getInputDialogValue($event)" [oSaveModel]="oSaveModel"></app-input-parent-container>
    </span>