.panel-body{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  .opti_position-relative {
    position: relative;
}

.opti_overflow-auto {
  overflow: auto;
}

.opti_fixed-header {
  min-width: 1300px;
}

.top-table {
  tbody {
    td {
      height: 40px;
    }
    tr {
    }
    tr:nth-child(odd) {
    }
  }
  tbody td,
  thead th {
  }
  tbody tr td:last-child {
    button {
      // margin-top: 5px;
    }
  }
}

#featureNameCode,
#type_value_code {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.basic-addon2-table {
  margin-top: 0;
}

img.img-thumbnail {
  border: none;
  background: transparent;
  padding: 5px;
  margin: 0;
  max-width: 95%;
  margin-left: 15%;
}

.item-text {
  font-size: 12px;
  color: #3e5b99;
  padding: 2px;
}

.item-count {
  font-size: 12px;
  color: #3e5b99;
  padding: 2px;
}

.nav-btns{
  position: relative;
  button{
    position: absolute;
    right: 0;
    top: 0
  }
}
.mobile-show{
  display: none;
}
.scan-mobile-details{
  background: #f1f1f1;
  padding: 5px 0; 
  margin-bottom: 10px;
}
.scan-row{
  margin: 0;
  .scan-col{
    padding: 0 5px;
  }
}
.col-form-label{
  padding-left: 2px;
  padding-right: 2px
}
.toggle-btn-outer{
  margin-right: 15px;
}
@media(max-width:640px){
  .mobile-hide{
    display: none;
  }
  .mobile-show{
    display: block;
  }
  .mobile-show.flex-show{
  display: inline-flex; 
  }
}