<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'AddItemToCont'|translate}}
            </h3>
            <div class="col-12 row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'Purpose'|translate}}</label>
                            <kendo-dropdownlist class="form-control form-control-sm" [data]="purposeArray" textField="Name"
                                valueField="Value" id="purpose" name="purpose" [(ngModel)]="defaultPurpose"
                                #selectedvalue (selectionChange)="onPurposeSelectChange($event)"></kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'Warehouse'|translate}}</label>
                            <input type="text" id="whse" name="whse" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="whse" placeholder="{{'Warehouse'|translate}}" (blur)="onWhseChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetWhseCode()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'BinCode'|translate}}</label>
                            <input type="text" id="binNo" name="binNo" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="binNo" placeholder="{{'BinCode'|translate}}" (blur)="onBinChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCode()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'ContainerType'|translate}}</label>
                            <input type="text" class="form-control form-control-sm" id="containerType" name="containerType"
                                [(ngModel)]="containerType" placeholder="{{'ContainerType'|translate}}" (blur)="onContainerTypeChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainerType()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="false">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'CTR_Parent_CT'|translate}}</label>
                            <input type="text" id="parentContainerType" name="parentContainerType" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="parentContainerType" placeholder="{{'CTR_Parent_CT'|translate}}" (blur)="onParentContainerChange()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getParentContainerType()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'AutoPackRule'|translate}}</label>
                            <input type="text" id="autoRuleId" name="autoRuleId" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="autoRuleId" placeholder="{{'AutoPackRule'|translate}}" (blur)="onAutoPackRuleChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getAutoPackRule()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'ContainerGroupingCode'|translate}}</label>
                            <input type="text" id="containerGroupCode" name="containerGroupCode" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="containerGroupCode" placeholder="{{'ContainerGroupingCode'|translate}}"
                                (blur)="IsValidContainerGroupBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetDataForContainerGroup()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'SONumber'|translate}}</label>
                            <input type="text" id="soNumber" name="soNumber" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="soNumber" placeholder="{{'SONumber'|translate}}" (blur)="onSONumberChange()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getSOrderList()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'NoOfPackToGen'|translate}}</label>
                            <input type="text" id="noOfPack" name="noOfPack" class="col-sm-8 form-control form-control-sm text-right"
                                [(ngModel)]="noOfPack" placeholder="{{'NoOfPackToGen'|translate}}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group input-group-sm">

                        </div>
                    </div>
                </div>
                <div class="card col-sm-5 ml-3">
                    <div>
                        <h4 class="border-bottom d-flex pt-1 pb-1 mb-2 mt-2">
                            {{'ScanAndAddTtl'|translate}}
                        </h4>
                    </div>
                    <div class="mr-2 ml-2 mt-1">
                        <div>
                            <div class="form-group row">
                                <div class="input-group input-group-sm">
                                    <label class="col-sm-3 col-form-label row">{{'Cont_Code'|translate}}</label>
                                    <input type="text" id="containerCode" name="containerCode" class="col-sm-6 form-control form-control-sm mr-3"
                                        [(ngModel)]="containerCode" (blur)="onContainerCodeChange()">
                                    <!-- <input type="text" id="count" name="count" class="col-sm-4 form-control form-control-sm"
                                        [(ngModel)]="count" placeholder="{{'Count'|translate}}" disabled> -->
                                    <input type="text" id="containerStatus" name="containerStatus" class="col-sm-3 form-control form-control-sm"
                                        [(ngModel)]="containerStatus" disabled>
                                </div>
                            </div>

                            <div class="form-group row mt-2">
                                <div class="input-group input-group-sm">
                                    <label class="col-sm-3 col-form-label row">{{'ScanItem'|translate}}</label>
                                    <input type="text" id="scanItemCode" name="scanItemCode" class="col-sm-6 form-control form-control-sm mr-3"
                                        [(ngModel)]="scanItemCode" (blur)="onItemCodeChange()"
                                        [attr.disabled]="disableFields?'':null">
                                    <input type="number" id="itemQty" name="itemQty" class="col-sm-3 form-control form-control-sm text-right"
                                        [ngModel]="itemQty|numberFormat" (ngModelChange)="itemQty=$event" 
                                        (blur)="onItemQtyChange()">
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="bsVisible">
                                <div class="input-group input-group-sm">
                                    <label class="col-sm-3 col-form-label row">{{'Bat/Ser'|translate}}</label>
                                    <input type="text" id="scanBSrLotNo" name="scanBSrLotNo" class="col-sm-6 form-control form-control-sm mr-3"
                                        [(ngModel)]="scanBSrLotNo" (blur)="IsValidBtchSer()">
                                    <input type="number" id="bsItemQty" name="bsItemQty" class="col-sm-3 form-control form-control-sm text-right"
                                        [ngModel]="bsItemQty|numberFormat" (ngModelChange)="bsItemQty=$event"
                                        (blur)="onBSQtyChange()">
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <fieldset class="d-block w-100">
                                    <div class="d-flex align-items-center w-100">
                                        <div class="d-flex align-items-center" (mousedown)="onRadioMouseDown('add')">
                                            <input type="radio" #addItem name="addItem" id="addItem" (click)="handleCheckChange($event)"
                                                class="k-radio" [checked]="radioSelected == 1" />
                                            <label class="k-radio-label" for="addItem">{{'CT_Add'|translate}}</label>
                                        </div>
                                        <div class="d-flex align-items-center ml-3" (mousedown)="onRadioMouseDown('remove')">
                                            <input type="radio" #removeItem name="removeItem" id="removeItem" class="k-radio"
                                                (click)="handleCheckChange($event)" [checked]="radioSelected == 2" />
                                            <label class="k-radio-label" for="removeItem">{{'Remove'|translate}}</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="fix-footer-btnBar">
                            <div class="col-12">
                                <div class="float-right form-group row">
                                    <div class="input-group input-group-sm">
                                        <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text" disabled>
                                            {{'PrintLabel'|translate}}
                                        </button>
                                        <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text ml-1 mr-2"
                                            (click)="onConfirmClick()" disabled>
                                            {{'Confirm'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="wizard-container mt-3">
                        <div class="wizard-box">
                            <div class="wizard-content">
                                <kendo-grid class="no-shadow" [data]="oSaveModel.OtherItemsDTL" [resizable]="true"
                                    [sortable]="true" [selectable]="true" id="gridItem" #gridItem>
                                    <ng-template kendoGridToolbarTemplate>
                                        <span class="grid-toolbar-title">{{'AddedItemToCont'|translate}}</span>
                                        <button tabIndex="-1" class="k-button k-primary btn mt-1 mb-1 float-right" type="button"
                                            (click)="onExpandCollapse()" *ngIf="oSaveModel.OtherItemsDTL.length != 0">
                                            <svg *ngIf="isExpand" viewBox="0 0 1024 1024" class="exp-coll-icon">
                                                <use xlink:href="#collapseAll"></use>
                                            </svg>
                                            <svg *ngIf="!isExpand" viewBox="0 0 1024 1024" class="exp-coll-icon">
                                                <use xlink:href="#expandAll"></use>
                                            </svg>
                                        </button>
                                    </ng-template>

                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_ITEMCODE"
                                        headerClass="text-left" title="{{'ItemCode'|translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <label class="col-sm-3 col-form-label text-left">{{dataItem.OPTM_ITEMCODE}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_CONT_QTY"
                                        title="{{'Item_Container_Quantity'|translate}}" headerClass="text-center" class="text-right">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <label class="col-sm-3 col-form-label">{{dataItem.OPTM_CONT_QTY|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column> -->
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_ITEM_QTY"
                                        title="{{'ItemQty'|translate}}" headerClass="text-center" class="text-right">
                                        <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                            <label class="col-sm-3 col-form-label">{{dataItem.OPTM_ITEM_QTY|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" [width]="100" field="OPTM_BALANCE_QTY"
                                        title="{{'BalanceQty'|translate}}" headerClass="text-center" class="text-right">
                                        <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                            <label class="col-sm-3 col-form-label">{{dataItem.OPTM_REMAIN_BAL_QTY|numberFormat}}</label>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-left"
                                        class="text-left" [width]="30" title="{{'Action'|translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                            <button type="button" class="btn btn-danger k-button btn-sm btn-icon"
                                                (mousedown)="deleteItemCode(rowIndex, gridItem)" [attr.disabled]="dataItem.DeleteDisable?'':null">
                                                <span class="k-icon k-i-delete" role="presentation"></span>
                                            </button>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="showOnlyBeveragesDetails">
                                        <kendo-grid [data]="dataItem.TempLotNoList">
                                            <kendo-grid-column width="200" [width]="200" field="OPTM_BTCHSER" title="{{'Batch_Serial'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column width="200" [width]="200" field="OPTM_AVL_QTY" title="{{'Available Qty'|translate}}"
                                                class="text-right" headerClass="text-center">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <label class="col-form-label">{{di.OPTM_AVL_QTY|numberFormat}}</label>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column width="200" [width]="200" field="OPTM_QUANTITY" title="{{'Quantity'|translate}}"
                                                class="text-right" headerClass="text-center">
                                                <ng-template kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                                                    <label class="col-form-label">{{di.OPTM_QUANTITY|numberFormat}}</label>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-left"
                                                class="text-left" [width]="50" title="{{'Action'|translate}}">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <button type="button" class="btn btn-danger k-button btn-sm btn-icon"
                                                        (mousedown)="deleteLotNo(rowIndex, dataItem)" [attr.disabled]="dataItem.DeleteDisable?'':null">
                                                        <span class="k-icon k-i-delete" role="presentation"></span>
                                                    </button>
                                                </ng-template>
                                            </kendo-grid-column>
                                        </kendo-grid>
                                    </ng-template>
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="onCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text ml-1 mr-2"
                    (mousedown)="onUpdateClick()">
                    {{'CT_Update'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupDataValue($event)"></app-common-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>