<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">
                <div class="mobile-show nav-btns">
                        <button *ngIf="nextEnabled" (click)="onNext()"><i class="opti-icon-arrow-next"></i></button>
                        <button *ngIf="!nextEnabled" (click)="onBack()"><i class="opti-icon-arrow-back"></i></button>
                </div>
            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'AddItemToCont'|translate}}
                
            </h3>
            <div class="row">
                <div  [ngClass]="[!nextEnabled ? 'mobile-hide' : '']" class="col-sm-6">
                    <div class="form-group ">
                        <div class="input-group input-group-sm">
                            <fieldset class="d-block w-100">
                                <div class="d-flex align-items-center w-100">
                                    <div class="d-flex align-items-center"> <!--(mousedown)="onRadioMouseDown('auto')"-->
                                        <input type="radio" #autoradio name="autoradio" id="autoradio" 
                                        (click)="handleRuleRadioChange($event)"
                                            class="k-radio" [checked]="radioRuleSelected == 1" />
                                        <label class="k-radio-label" for="autoradio">{{'Auto_Rule_Based'|translate}}</label>
                                    </div>
                                    <div class="d-flex align-items-center ml-3"><!-- (mousedown)="onRadioMouseDown('manual')"-->
                                        <input type="radio" #manualradio name="manualradio" id="manualradio" 
                                        class="k-radio" (click)="handleRuleRadioChange($event)" 
                                        [checked]="radioRuleSelected == 2" />
                                        <label class="k-radio-label" for="manualradio">{{'Manual'|translate}}</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'Purpose'|translate}}</label>
                            <div  class="col-sm-8 p-0">
                                    <kendo-dropdownlist class="form-control form-control-sm" [data]="purposeArray"
                                    textField="Name" valueField="Value" id="purpose" name="purpose"
                                    [(ngModel)]="defaultPurpose" #selectedvalue
                                    (selectionChange)="onPurposeSelectChange($event)"></kendo-dropdownlist>
                            </div>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'Warehouse'|translate}}</label>
                            <input type="text" #scanWhse id="scanWhse" name="whse" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="whse" placeholder="{{'Warehouse'|translate}}" (blur)="onWhseChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="GetWhseCode()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'BinCode'|translate}}</label>
                            <input type="text" #scanBinCode id="scanBinCode" name="binNo" class="col-sm-8 form-control form-control-sm"
                                [(ngModel)]="binNo" placeholder="{{'BinCode'|translate}}" (blur)="onBinChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="GetBinCode()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'ContainerType'|translate}}</label>
                            <input type="text" #scanContType class="form-control form-control-sm" id="scanContType"
                                name="containerType" [(ngModel)]="containerType"
                                placeholder="{{'ContainerType'|translate}}" (blur)="onContainerTypeChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="getContainerType()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="false">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'CTR_Parent_CT'|translate}}</label>
                            <input type="text" #scanParentContCode id="scanParentContCode" name="parentContainerType"
                                class="col-sm-8 form-control form-control-sm" [(ngModel)]="parentContainerType"
                                placeholder="{{'CTR_Parent_CT'|translate}}" (blur)="onParentContainerChange()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="getParentContainerType()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'AutoPackRule'|translate}}</label>
                            <input type="text" #scanAutoRuleId id="scanAutoRuleId" name="autoRuleId"
                                class="col-sm-8 form-control form-control-sm" [(ngModel)]="autoRuleId"
                                placeholder="{{'AutoPackRule'|translate}}" (blur)="onAutoPackRuleChangeBlur()"
                                [disabled]="radioRuleSelected == 2">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="getAutoPackRule()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'ContainerGroupingCode'|translate}}</label>
                            <input type="text" #scanContGroupCode id="scanContGroupCode" name="containerGroupCode"
                                class="col-sm-8 form-control form-control-sm" [(ngModel)]="containerGroupCode"
                                placeholder="{{'ContainerGroupingCode'|translate}}"
                                (blur)="IsValidContainerGroupBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (click)="GetDataForContainerGroup()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'SONumber'|translate}}</label>
                            <input type="text" #scanSONumber id="scanSONumber" name="soNumber"
                                class="col-sm-8 form-control form-control-sm" [(ngModel)]="soNumber"
                                placeholder="{{'SONumber'|translate}}" (blur)="onSONumberChangeBlur()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="getSOrderList()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'NoOfPackToGen'|translate}}</label>
                            <input type="text" id="noOfPack" name="noOfPack"
                                class="col-sm-8 form-control form-control-sm text-right" [(ngModel)]="noOfPack"
                                placeholder="{{'NoOfPackToGen'|translate}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'Add_to_Parent'|translate}}</label>
                            <input type="checkbox" id="checkParent" name='checkParent' class="k-checkbox"
                            (change)="onParentCheckChange($event)" [checked]="checkParent" [disabled]="radioRuleSelected == 1" />
                            <label class="k-checkbox-label empty-check" for="checkParent"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <label class="col-sm-4 col-form-label">{{'Parent_Cont_Type'|translate}}</label>
                            <input type="text" #scanParentContType class="form-control form-control-sm" id="scanParentContType"
                            name="parentContainerType"
                            [(ngModel)]="parentContainerType" (blur)="getParentContainerType('blur')" [disabled]="!checkParent"> 
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getParentContainerType('lookup')">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <label for="CustomerTo" class="col-sm-4 col-form-label">{{'WO'|translate}}</label>
                            <input type="text" #scanWorkOrder class="form-control form-control-sm" id="scanWorkOrder"
                            name="workOrder" [(ngModel)]="workOrder" (blur)="onWorkOrderBlur()"  [disabled]="radioRuleSelected == 2">
                        <div class="input-group-append has-seprate-btn">
                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetWorkOrderList('lookup')">
                                <i class="opti-icon-search"></i>
                            </button>
                        </div>
                        </div>
                    </div>

                    <div class="form-group row" >
                        <div class="input-group input-group-sm">
                            <label for="containerWeigth" class="col-sm-4 col-form-label">{{'PT_TaskId'|translate}}</label>
                            <input type="text" class="form-control form-control-sm text-right" id="taskId"
                                name="taskId" [(ngModel)]="taskId" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                        <label for="CustomerTo" class="col-sm-4 col-form-label">{{'FROMOPERNO'|translate}}</label>
                        <input type="text" class="form-control form-control-sm text-right" id="OperationNoId"
                        name="OperationNoId" [(ngModel)]="operationNo" disabled>
                    </div>
                     </div>
                </div>  
                

                <div  [ngClass]="[nextEnabled ? 'mobile-hide' : '']" class="card col-sm-5">
                    <div>
                        <h5 class="border-bottom d-flex pt-1 pb-3 mb-2 mt-2">
                            {{'ScanAndAddTtl'|translate}}
                        </h5>
                        
                    </div>
                    <div class="mt-2">
                        <div class="mobile-show scan-mobile-details">
                                <div class="row scan-row">
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Purpose:Value</label>
                                    </div>
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Warehouse:Value</label>
                                    </div>
                                </div>
                                <div class="row scan-row">
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Bin Code:Value</label>
                                    </div>
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Container Type:Value</label>
                                    </div>
                                </div>
                                <div class="row scan-row">
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Auto Pack Rule:Value</label>
                                    </div>
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Cont. Group Code:Value</label>
                                    </div>
                                </div>
                                <div class="row scan-row">
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">SO Number:Value</label>
                                    </div>
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">No of Pack To Generate:Value</label>
                                    </div>
                                </div>
                                <div class="row scan-row">
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Add to Parent:Value</label>
                                    </div>
                                    <div class="col-6 scan-col">
                                            <label class="col-form-label">Parent Cont. Type:Value</label>
                                    </div>
                                </div>
                        </div>
                        <div>
                            <div class="form-group row scan-form-row">
                                <div class="col">
                                <div class="input-group input-group-sm">
                                    <label class="col-sm-4 col-form-label">{{'Cont_Code'|translate}}</label>
                                    <input type="text" #scanContCode id="scanContCode" name="containerCode" 
                                    class="col-sm-8 form-control form-control-sm "
                                    [(ngModel)]="containerCode" (blur)="onContainerCodeChangeBlur()">
                                </div>
                            </div>
                            </div>

                            <div class="form-group row scan-form-row mt-2">
                            <div class="col">
                                <fieldset class="d-block w-100">
                                    <div class="d-flex align-items-center w-100">
                                        <div class="d-flex align-items-center" (mousedown)="onRadioMouseDown('add')">
                                            <input type="radio" #addItem name="addItem" id="addItem" 
                                            (click)="handleCheckChange($event,'add')"
                                                class="k-radio" [checked]="radioSelected == 1" />
                                            <label class="k-radio-label" for="addItem">{{'CT_Add'|translate}}</label>
                                        </div>
                                        <div class="d-flex align-items-center ml-3" (mousedown)="onRadioMouseDown('remove')">
                                            <input type="radio" #removeItem name="removeItem" id="removeItem" 
                                            class="k-radio" (click)="handleCheckChange($event,'remove')" 
                                            [checked]="radioSelected == 2" />
                                            <label class="k-radio-label" for="removeItem">{{'Remove'|translate}}</label>
                                        </div>
                                        <div class="d-flex align-items-center ml-3">
                                            <input type="radio" #viewItem name="viewItem" id="viewItem" 
                                            class="k-radio" (click)="handleCheckChange($event,'view')" 
                                            [checked]="radioSelected == 3" />
                                            <label class="k-radio-label" for="viewItem">{{'View'|translate}}</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <label class="col-sm-5 col-form-label text-right">{{'Balance_Qty'|translate}}</label>
                                    <input type="text" id="itemBalanceQty" name="itemBalanceQty" 
                                    class="col-sm-7 form-control form-control-sm text-right"
                                        [ngModel]="itemBalanceQty|numberFormat" (ngModelChange)="itemBalanceQty=$event"
                                        disabled>
                                </div>
                            </div> -->
                        </div>

                        <div class="form-group row scan-form-row">
                                <div class="col">
                            <div class="input-group input-group-sm">
                                <label class="col-sm-5 col-form-label">{{'ScanItem'|translate}}</label>
                                <input type="text" id="scanItemCode" name="scanItemCode" class="col-sm-7 form-control form-control-sm"
                                    [(ngModel)]="scanItemCode" (blur)="onItemCodeChangeBlur()" 
                                    [attr.disabled]="disableFields?'':null">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" 
                                    (mousedown)="GetScanItem()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                                </div>
                                </div>
                                <div class="col">
                                <div class="input-group input-group-sm">
                                <label class="col-sm-5 col-form-label text-right">{{'ScanQty'|translate}}</label>
                                <input type="number" #scanItemQty id="scanItemQty" name="itemQty" 
                                class="col-sm-7 form-control form-control-sm text-right"
                                    [ngModel]="itemQty|numberFormat" (ngModelChange)="itemQty=$event"
                                        (blur)="onScanItemQtyChange()"
                                    [disabled]="scanItemCode == ''">
                                    </div>
                                </div>
                                <!--(blur)="onItemQtyChange()" -->
                          
                        </div>

                        <div class="form-group row scan-form-row">
                            <div class="col">
                                <div class="input-group input-group-sm">
                                        <label class="col-sm-5 col-form-label">{{'Bat/Ser'|translate}}</label>
                                        <input type="text" id="scanBSrLotNo" name="scanBSrLotNo" 
                                        class="col-sm-7 form-control form-control-sm"
                                            [(ngModel)]="scanBSrLotNo" (blur)="onBatchSerialBlur()" >
                                        <div class="input-group-append has-seprate-btn">
                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" 
                                            (mousedown)="GetBatchSerial()" [disabled]="radioSelected == 2">
                                                <i class="opti-icon-search"></i>
                                            </button>
                                        </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm">
                                    <label class="col-sm-5 col-form-label text-right">{{'ScanQty'|translate}}</label>
                                    <input type="number" #scanBsItemQty id="scanBsItemQty" name="bsItemQty" 
                                    class="col-sm-7 form-control form-control-sm text-right"
                                        [ngModel]="bsItemQty|numberFormat" (ngModelChange)="bsItemQty=$event" 
                                        (blur)="onBatSerQtyChange()"
                                        [disabled]="scanBSrLotNo == '' || scanItemTracking == 'S'">
                                </div>
                            </div>
                            </div>  
                            <div class="form-group row scan-form-row" >
                                   
                                    <div class="col">
                                                <label class="col-sm-5 col-form-label text-left">{{'Bal'|translate}}</label>
                                                <input type="number" id="bsItemQty" name="bsItemQty" 
                                                class="col-sm-7 form-control form-control-sm text-right"
                                                    [ngModel]="bsItemQty|numberFormat" (ngModelChange)="bsItemQty=$event" 
                                                    (blur)="onBatSerQtyChange()"
                                                    [disabled]="scanBSrLotNo == '' || scanItemTracking == 'S'">
                                      
                                    </div>
                                    <div class="col"></div>
                                    </div>  
                                    
                                 <div class="fix-footer-btnBar">
                                    <div class="col-sm-12 col-12">
                                        <div class="float-right form-group row">
                                            <div class="input-group input-group-sm col-sm-2">
                                                <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text" disabled>
                                                    {{'Barcode'|translate}}
                                                </button>
                                                <!-- <button type="button" class="k-button k-primary k-button btn-sm btn-icon-with-text ml-1 mr-2">
                                                    {{'Confirm'|translate}}
                                                </button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6"> 
                    <div class="row">
                        <div class="col-12">
                            <div class="opti_overflow-auto tree-wrapper">
                                <div class="tree well">
                                    <div class="pl-2 pt-2 pr-2">
                                        <span class="grid-toolbar-title">{{'ContainerItems'|translate}}</span>
                                        <button tabIndex="-1" class="k-button k-primary btn mt-1 mb-1 mr-1 float-right" type="button">
                                            <svg *ngIf="isExpand" viewBox="0 0 1024 1024" class="exp-coll-icon" (click)="onExpandCollapseAll('collapse')">
                                                <use xlink:href="#collapseAll"></use>
                                            </svg>
                                            <svg *ngIf="!isExpand" viewBox="0 0 1024 1024" class="exp-coll-icon" (click)="onExpandCollapseAll('expand')">
                                                <use xlink:href="#expandAll"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="ml-3">
                                        <kendo-treeview [nodes]="DisplayTreeData" textField="text" kendoTreeViewExpandable
                                            kendoTreeViewHierarchyBinding childrenField="items" [(expandedKeys)]="expandedKeys"
                                            (collapse)="handleCollapse($event)" (expand)="handleExpand($event)">
                                            <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                                <div>
                                                    <span class="item-text">
                                                        {{dataItem.text}}
                                                    </span>
                                                    <span class="item-count">
                                                        ({{dataItem.quantity}})
                                                    </span>
                                                </div>                                              
                                            </ng-template>
                                        </kendo-treeview>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>  

            </div>           
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"
                    (mousedown)="onCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                    <button type="button" [disabled]="nextEnabled" class="mobile-show flex-show k-button k-primary k-button btn-sm btn-icon-with-text ml-1 mr-2"
                    (mousedown)="onUpdateClick()">
                    {{'CT_Update'|translate}}
                </button>
                <button type="button"  class=" mobile-hide k-button k-primary k-button btn-sm btn-icon-with-text ml-1 mr-2"
                    (mousedown)="onUpdateClick()">
                    {{'CT_Update'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupDataValue($event)">
    </app-common-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor"
        [noButtonText]="noButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>