<kendo-dialog (close)="close('cancel')" [width]="550">
    <kendo-dialog-titlebar>
        {{titleMessage}}
    </kendo-dialog-titlebar>
    <div class="px-3">
        <div class="form-group row">
            <div class="input-group input-group-sm">
                <label class="col-sm-4 col-form-label">{{'Parent_Container_Code'|translate}}</label>
                <input type="text" id="parentContainerCode" name="parentContainerCode" class="col-sm-8 form-control form-control-sm mr-3"
                    [(ngModel)]="parentContainerCode" placeholder="{{'Parent_Container_Code'|translate}}" (blur)="onParentContainerChange()" [disabled]="!ShowParentField"> 
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="input-group input-group-sm">
                <label class="col-sm-4 col-form-label">{{'ContainerCode'|translate}}</label>
                <input type="text" id="containerCode" name="containerCode" class="col-sm-8 form-control form-control-sm mr-3"
                    [(ngModel)]="containerCode" placeholder="{{'ContainerCode'|translate}}" (blur)="onContainerCodeChange()">
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group input-group-sm">
                <label class="col-sm-4 col-form-label">{{'Remaining_Qty'|translate}}</label>
                <input type="text" id="RemainingQty" name="RemainingQty" class="col-sm-8 form-control form-control-sm mr-3"
                    [(ngModel)]="RemainingQty" placeholder="{{'Remaining_Qty'|translate}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group input-group-sm">
                <label class="col-sm-4 col-form-label">{{'Count'|translate}}</label>
                <input type="text" id="count" name="count" class="col-sm-8 form-control form-control-sm mr-3"
                    [(ngModel)]="count" placeholder="{{'Count'|translate}}" disabled>
            </div>
        </div>

        <div class="form-group form-check-inline">                   
            <!-- <div class="input-group input-group-sm"> -->
            <input type="radio" class="form-check-input"  id="radioAdd" name="radioAdd" [(ngModel)]="RadioAction" 
            value="Add" [disabled]="!ShowParentField">
            <label class="col-form-label" for="addItem">{{'CT_Add'|translate}}</label>
            <input type="radio" class="form-check-input ml-3" id="radioRemove" name="radioRemove" [(ngModel)]="RadioAction" 
            value="Remove" [disabled]="!ShowParentField">
            <label class="col-form-label" for="removeItem">{{'Remove'|translate}}</label>
            <!-- </div>            -->
        </div>
        <!-- <div class="form-group row form-check-inline">
       
            <input type="radio" class="form-check-input" id="radioRemove" name="radioRemove" [(ngModel)]="RadioAction" value="Remove">{{'Remove'|translate}}
       
        </div> -->

        <!-- <div class="form-group row">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" placeholder="{{'Bin No.'}}" name="binNo"
                        [(ngModel)]="binNo" (blur)="OnBinChange()">
                    <div class="input-group-append  has-seprate-btn">
                        <button class="k-button k-primary btn" type="button" (click)="OnBinLookupClick('OnClick')">
                            <i class="opti-icon-hammenu"></i>
                        </button>
                    </div>
                </div>
            </div> -->
    </div>

    <kendo-dialog-actions>
        <button kendoButton *ngIf="showNoButton" (click)="close('no')">{{noButtonText}}</button>
        <button class="ml-1" kendoButton (click)="close('yes')" primary="true">{{yesButtonText}}</button>
    </kendo-dialog-actions>
</kendo-dialog>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>
<!-- 
<span [hidden]="showLookup">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span> -->