<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                <span *ngIf="SelectedWhse != ''">{{'ViewAndManageCont'|translate}} : ({{'ShipMentId'|translate}} - {{SelectedShipmentId}} {{'WH'|translate}}
                    - {{SelectedWhse}} {{'Bin'|translate}} - {{SelectedBin}}) </span>
                <span *ngIf="SelectedWhse == ''">{{'ViewAndManageCont'|translate}}</span>
            </h3>

            <div class="col-12">
                <!-- row start -->
                <div class="row">

                    <!-- col start -->

                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="ContainsItemID" class="col-sm-4 col-form-label">{{'Contains_Item'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control form-control-sm" name='ContainsItemID' [(ngModel)]=ContainsItemID id="ContainsItemID"
                                        (blur)="onContainsItemChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainsItem()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="ShipmentId" class="col-sm-4 col-form-label">{{'Shipment_Id'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control form-control-sm" name='ShipmentId' [(ngModel)]=ShipmentId id="ShipmentId" (blur)="onShipmentIdChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetShipmentIdForShipment()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="PurposeId" class="col-sm-4 col-form-label">{{'Purpose'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">

                                    <kendo-dropdownlist class="form-control form-control-sm" [data]="purposeArray" textField="Name" valueField="Value" id="PurposeId"
                                        name="PurposeId" [(ngModel)]="PurposeId" #selectedvalue (selectionChange)="onPurposeSelectChange($event)"
                                        [disabled]="IsShipment"></kendo-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- col end -->
                </div>
            </div>

            <div class="col-12">
                <!-- row start -->
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="ContainerTypeId" class="col-sm-4 col-form-label">{{'Container_Type'|translate}}</label>
                            <div class="col-sm-8">

                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" name='ContainerTypeId' [(ngModel)]=ContainerTypeId id="ContainerTypeId"
                                        (blur)="onContainerTypeChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainerType()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="ContainerCodeId" class="col-sm-4 col-form-label">{{'Cont_Code'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name='ContainerCodeId' [(ngModel)]=ContainerCodeId id="ContainerCodeId">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="StatusId" class="col-sm-4 col-form-label">{{'Status'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <kendo-dropdownlist class="form-control form-control-sm" [data]="statusArray" textField="Name" valueField="Value" id="status"
                                        name="status" [(ngModel)]="StatusId" #selectedvalue (selectionChange)="onStatusChange($event)"
                                        [disabled]="IsShipment"></kendo-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
            </div>

            <div class="col-12">
                <!-- row start -->
                <div class="row">

                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="WarehouseId" class="col-sm-4 col-form-label">{{'Warehouse'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control form-control-sm" name='WarehouseId' [(ngModel)]=WarehouseId id="WarehouseId" (blur)="onWhseChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetWhseCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="WOId" class="col-sm-4 col-form-label">{{'WO_NUM'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" name='WOId' [(ngModel)]=WOId id="WOId">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="ContainerTypeId" class="col-sm-4 col-form-label">{{'Inv_Post_Status'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <kendo-dropdownlist class="form-control form-control-sm" [data]="InvPostStatusArray" textField="Name" valueField="Value"
                                        id="InvPostStatusValue" name="InvPostStatusValue" [(ngModel)]="InvPostStatusId" #selectedvalue
                                        (selectionChange)="onInvPostStatusChange($event)" [disabled]="IsShipment"></kendo-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
            </div>

            <div class="col-12">
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="BinId" class="col-sm-4 col-form-label">{{'Bin'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" name='BinId' [(ngModel)]=BinId id="BinId" (blur)="onBinChange()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCode()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="SOId" class="col-sm-4 col-form-label">{{'SO_NUM'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" name='SOId' [(ngModel)]=SOId id="SOId">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="BinId" class="col-sm-4 col-form-label">{{'ContainerGroupingCode'|translate}}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="containerGroupCode" name="containerGroupCode" [(ngModel)]="containerGroupCode"
                                        (blur)="IsValidContainerGroup()">
                                    <div class="input-group-append has-seprate-btn">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForContainerGroup()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-4 row">
                            <div class="form-group">
                                <div>
                                    <button type="button" (click)="onQueryBtnClick()">{{'Query'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Container list grid -->
            <div class="row mt-2">
                <div class="col-12">
                    <h5>{{SelectedLinkTitle}}</h5>
                    <kendo-grid [kendoGridBinding]="ContainerList" [resizable]="true" [height]="300" [pageSize]="pageSize" [pageable]="ShowGridPaging" [skip]="skip" (pageChange)="pageChange($event)"
                        [selectable]="{ checkboxOnly: true, mode: 'multiple' }" [filterable]="isColumnFilterView">
                        <ng-template kendoGridToolbarTemplate>
                            <span class="grid-toolbar-title">{{'Container_Items'|translate}}</span>
                            <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
                                <input #chkFilterView type="checkbox" (change)="onFilterChange(chkFilterView,ContainerItems)" id="FilterColumnView" [(ngModel)]="isColumnFilterView"
                                    class="k-checkbox" name="FilterColumnView" />
                                <label class="k-checkbox-label" for="FilterColumnView">{{'Enable_Filter'|translate}}</label>
                            </label>
                        </ng-template>

                        <kendo-grid-checkbox-column title="{{'Select'|translate}}" [width]="25">
                            <ng-template kendoGridHeaderTemplate let-column let-rowIndex="rowIndex">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="parent_checkbox" #Selectallcheckedvalue (change)="on_Selectall_checkbox_checked(Selectallcheckedvalue.checked)"
                                        [checked]=selectall id="parent_checkbox_{{rowIndex}}" class="custom-control-input" [disabled]="Selectedlink == 1">
                                    <label class="custom-control-label" for="parent_checkbox_{{rowIndex}}"></label>
                                </div>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-idx='rowIndex' let-dataItem='dataItem'>
                                <div class="custom-control custom-checkbox">
                                    <input #chkSelection type="checkbox" (change)="selectContainerRowChange(chkSelection.checked, dataItem, idx)" [checked]="dataItem.Selected"
                                        [disabled]="Selectedlink == 1" id="chkbox-{{idx}}" class="custom-control-input" name="columnfilter"
                                    />
                                    <label class="custom-control-label" for="chkbox-{{idx}}"></label>
                                </div>
                            </ng-template>
                        </kendo-grid-checkbox-column>
                        <!-- <kendo-grid-column field="OPTM_CONTAINERID" class="text-right" width="85" title="{{'Container_Id'|translate}}" *ngIf=false></kendo-grid-column> -->
                        <kendo-grid-column field="TYPE" width="90" title="{{'Type'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="CODE" width="170" title="{{'Code'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_STATUS" width="70" title="{{'Status'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_QUANTITY" class="text-right" width="70" title="{{'Quantity'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_SHIPMENTID" width="100" title="{{'Shipment_Id'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_WEIGHT" width="70" class="text-right" title="{{'Weight'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_VOLUME" width="70" class="text-right" title="{{'Volume'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_WT_UOM" width="80" title="{{'WeightUOM'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_VOL_UOM" width="80" title="{{'VolumeUOM'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_WHSE" width="80" title="{{'Warehouse'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_BIN" width="180" title="{{'Bin'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_BUILT_SOURCE" width="150" title="{{'Built_In_Process'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_SHIPELIGIBLE" width="75" title="{{'ShipEligible'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_SHIPMENT_LINEID" width="100" title="{{'Shipment_Line'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_SO_NUMBER" width="80" title="{{'SONumber'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPTM_PICKED_TOSHIP" width="60" title="{{'Picked'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <label class="custom-checkbox mb-0">
                                    <input type="checkbox" #checkedpickedvalue [checked]="dataItem.OPTM_PICKED_TOSHIP == 'Y'" disabled>
                                    <span class="checkbox"></span>
                                </label>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="OPTM_PARENTCONTID" width="170" title="{{'Parent_Cont'|translate}}"></kendo-grid-column>

                        <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="ShowContainerItems">
                            <kendo-grid [data]="dataItem.ContainerItemList">
                                <kendo-grid-column field="TYPE" width="109" title="{{'Type'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="CODE" width="170" title="{{'Code'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_STATUS" width="70" title="{{'Status'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_QUANTITY" class="text-right" width="70" title="{{'Quantity'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SHIPMENTID" width="100" title="{{'Shipment_Id'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_WEIGHT" width="70" class="text-right" title="{{'Weight'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_VOLUME" width="70" class="text-right" title="{{'Volume'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_WT_UOM" width="80" title="{{'WeightUOM'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_VOL_UOM" width="80" title="{{'VolumeUOM'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_WHSE" width="80" title="{{'Warehouse'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_BIN" width="180" title="{{'Bin'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_BUILT_SOURCE" width="150" title="{{'Built_In_Process'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SHIPELIGIBLE" width="75" title="{{'ShipEligible'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SHIPMENT_LINEID" width="100" title="{{'Shipment_Line'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SO_NUMBER" width="80" title="{{'SONumber'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_PICKED_TOSHIP" width="60" title="{{'Picked'|translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox" #checkedpickedvalue [checked]="dataItem.OPTM_PICKED_TOSHIP == 'Y'" disabled>
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="OPTM_PARENTCONTID" width="170" title="{{'Parent_Cont'|translate}}"></kendo-grid-column>
                            </kendo-grid>
                        </ng-template>
                    </kendo-grid>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" type="button" *ngIf="IsShipment" (click)="onArrowBtnClick()">
                    <i class="opti-icon-arrow-back"></i>
                </button>
                <button class="btn btn-danger k-button btn-sm btn-icon-with-text" type="button" (mousedown)="onCancelClick()" *ngIf="!IsShipment">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>{{'Cancel'|translate}}</button>
                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onResetClick()">
                    {{'Reset'|translate}}</button>
                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onUpdateBtnPress()" [disabled]="Selectedlink == 1">
                    {{'Submit'|translate}}</button>

                <div class="btn-group  toggle-btn-outer">
                    <div class="dropdown show">
                        <a class="btn btn-success btn-sm toggle-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="opti-icon-more"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <!-- <a [ngClass]="Selectedlink == 1 ? 'dropdown-item cursor-pointer active' : 'dropdown-item cursor-pointer'" (click)="SelectShpandDisplayContainers(1)">{{'View_Containers'|translate}}</a>
                            <a class="dropdown-item cursor-pointer" (click)="GetShipmentIdForShipment()">{{'Select_Shipment'|translate}}</a> -->
                            <a [ngClass]="Selectedlink == 2 ? 'dropdown-item cursor-pointer active' : 'dropdown-item cursor-pointer'" (click)="SelectShpandDisplayContainers(2)">{{'Assign_to_shipment'|translate}}</a>
                            <a [ngClass]="Selectedlink == 3 ? 'dropdown-item cursor-pointer active' : 'dropdown-item cursor-pointer'" (click)="SelectShpandDisplayContainers(3)">{{'Remove_from_shipment'|translate}}</a>
                            <a [ngClass]="Selectedlink == 4 ? 'dropdown-item cursor-pointer active' : 'dropdown-item cursor-pointer'" (click)="SelectShpandDisplayContainers(4)">{{'Return_by_customer'|translate}}</a>
                            <a [ngClass]="Selectedlink == 5 ? 'dropdown-item cursor-pointer active' : 'dropdown-item cursor-pointer'" (click)="SelectShpandDisplayContainers(5)">{{'Set_Damaged'|translate}}</a>
                            <a [ngClass]="Selectedlink == 6 ? 'dropdown-item cursor-pointer active' : 'dropdown-item cursor-pointer'" (click)="SelectShpandDisplayContainers(6)">{{'Close_Container'|translate}}</a>

                            <a class="dropdown-item" (click)="ShowSOandContainerCodeDialog(1)">{{'AssignSO'|translate}}</a>
                            <a class="dropdown-item" (click)="RemoveFromContainer(1)">{{'RemoveSO'|translate}}</a>
                            <a class="dropdown-item" (click)="ShowSOandContainerCodeDialog(2)">{{'AssignCC'|translate}}</a>
                            <a class="dropdown-item" (click)="RemoveFromContainer(2)">{{'RemoveCC'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<kendo-dialog [width]="500" *ngIf="dialogOpened" (close)="close_kendo_dialog()">
    <div class="new-custom-grid">
        <kendo-dialog-titlebar>
            {{DialogTitle}}
        </kendo-dialog-titlebar>
        <div class="px-3">
            <div class="form-group row mt-2">
                <div class="input-group input-group-sm">
                    <label class="col-sm-4 col-form-label">{{dialogLabel}}</label>
                    <input type="text" id="dialogValue" name="dialogValue" class="col-sm-8 form-control form-control-sm mr-3" [(ngModel)]="dialogValue"
                        placeholder="{{dialogLabel}}" (blur)="DisplayAndValidateData('blur')">
                    <div class="input-group-append has-seprate-btn">
                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="DisplayAndValidateData('lookup')">
                            <i class="opti-icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <kendo-dialog-actions>
            <button class="ml-1" kendoButton (click)="onConfirmClick()" primary="true">{{'Confirm'|translate}}</button>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupDataValue($event)"></app-common-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>