<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'ContainerOperation'|translate}}
            </h3>
            <div class="row">
                <div class="col-12">
                    <div class="shipment-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="whse" class="col-sm-4 col-form-label">{{'ContainerId'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="containerId"
                                            placeholder="{{'ContainerId'|translate}}" name="containerId"
                                            [(ngModel)]="containerId" (blur)="onContainerIdChange('parent')">
                                        <div class="input-group-append has-seprate-btn">
                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetParentContainer()">
                                                <i class="opti-icon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shipment From -->
                    <div class="shipment-form">
                        <!-- row 1 -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="whse" class="col-sm-4 col-form-label">{{'Warehouse'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="whse" placeholder="{{'Warehouse'|translate}}"
                                            name="whse" [(ngModel)]="whseCode" disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                    (mousedown)="GetWhseCode()" [disabled]="isUpdate">
                                                    <i class="opti-icon-search"></i>
                                                </button>
                                            </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="whse" class="col-sm-4 col-form-label">{{'Container_Type'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="containerType" name="containerType"
                                            [(ngModel)]="containerType" placeholder="{{'Container_Type'|translate}}"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- row 2 -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="binCode" class="col-sm-4 col-form-label">{{'BinCode'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="binCode"
                                            placeholder="{{'BinCode'|translate}}" name="binCode" [(ngModel)]="binCode"
                                            disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                    (mousedown)="GetDefaultShipStageBin('WIP_FG_StageBin')">
                                                    <i class="opti-icon-search"></i>
                                                </button>
                                            </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="containerCode" class="col-sm-4 col-form-label">{{'ContainerCode'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="containerCode"
                                            placeholder="{{'ContainerCode'|translate}}" name="containerCode"
                                            [(ngModel)]="containerCode" disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                    (mousedown)="GetDefaultShipStageBin('WIP_RM_StageBin')">
                                                    <i class="opti-icon-search"></i>
                                                </button>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- row 3 -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="containerMaxWgt" class="col-sm-4 col-form-label">{{'ContainerMaxWeight'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="containerMaxWgt"
                                            placeholder="{{'ContainerMaxWeight'|translate}}" name="containerMaxWgt"
                                            [(ngModel)]="containerMaxWgt" disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                    (mousedown)="GetDefaultShipStageBin('TransferOutBin')">
                                                    <i class="opti-icon-search"></i>
                                                </button>
                                            </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="containerWgt" class="col-sm-4 col-form-label">{{'ContainerWeight'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="containerWgt"
                                            placeholder="{{'ContainerWeight'|translate}}" name="containerWgt"
                                            [(ngModel)]="containerWgt" disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                    (mousedown)="GetDefaultShipStageBin('TransferInBin')">
                                                    <i class="opti-icon-search"></i>
                                                </button>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- row 4 -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="packingRule" class="col-sm-4 col-form-label">{{'PackingRule'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="packingRule"
                                            placeholder="{{'PackingRule'|translate}}" name="packingRule" [(ngModel)]="packingRule"
                                            disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                            <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                (mousedown)="GetDefaultShipStageBin('Ship_StageBin')">
                                                <i class="opti-icon-search"></i>
                                            </button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="containerQty" class="col-sm-4 col-form-label">{{'ContainerQty'|translate}}</label>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="containerQty"
                                            placeholder="{{'ContainerQty'|translate}}" name="containerQty" [(ngModel)]="containerQty"
                                            disabled>
                                        <!-- <div class="input-group-append has-seprate-btn">
                                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                                        (mousedown)="GetDefaultShipStageBin('TransferInBin')">
                                                        <i class="opti-icon-search"></i>
                                                    </button>
                                                </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Shipment Form  -->
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <h5 class="border-bottom d-flex pt-1 pb-3 mb-4">{{'Items'|translate}}</h5>
                    <div class="form-group row">
                        <label for="itemCode" class="col-sm-4 col-form-label">{{'ItemCode'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="itemCode" placeholder="{{'ItemCode'|translate}}"
                                name="itemCode" [(ngModel)]="itemCode" (blur)="onItemCodeChange()">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="getItemCode()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                            <!-- <input type="text" class="ml-1 form-control form-control-sm" id="itemCode1" name="itemCode1"
                                [(ngModel)]="itemCode1" [disabled]="isUpdate"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="disabled" class="col-sm-4 col-form-label"></label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="disabled" name="itemCode1"
                                [(ngModel)]="itemCode1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemBatchSr" class="col-sm-4 col-form-label">{{'ItemBatchSerial'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="itemBatchSr" placeholder="{{'ItemBatchSerial'|translate}}"
                                name="itemBatchSr" [(ngModel)]="itemBatchSr" (blur)="onBatchSrlChange($event)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemQty" class="col-sm-4 col-form-label">{{'Quantity'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="itemQty" placeholder="{{'Quantity'|translate}}"
                                name="itemQty" [(ngModel)]="itemQty">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="addItemOpn" class="col-sm-4 col-form-label">{{'Masking_Operation'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <div class="input-group input-group-sm">
                                <kendo-dropdownlist class="form-control form-control-sm" [data]="addItemsOpnArr"
                                    textField="Name" valueField="Value" id="addItemOpn" name="addItemOpn" [(ngModel)]="defaultItemOpn"
                                    #selectedvalue (selectionChange)="onAddItemOpnSelectChange($event)"></kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="input-group col-sm-8">
                            <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="addItemToContainer()">
                                <span role="presentation"></span> {{addItemBtnText}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5 class="border-bottom d-flex pt-1 pb-3 mb-4">{{'Container'|translate}}</h5>
                    <div class="form-group row">
                        <label for="containerUsage" class="col-sm-4 col-form-label">{{'ContainerUsage'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="containerUsage" placeholder="{{'ContainerUsage'|translate}}"
                                name="containerUsage" [(ngModel)]="containerUsage">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="containerUsage1" class="col-sm-4 col-form-label"></label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="containerUsage1" name="containerUsage1"
                                [(ngModel)]="containerUsage1">
                            <!-- <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="getItemCode()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="childContainerId" class="col-sm-4 col-form-label">{{'ContainerId'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="childContainerId" placeholder="{{'ContainerId'|translate}}"
                                name="childContainerId" [(ngModel)]="childContainerId" (blur)="onContainerIdChange('child')">
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button" (click)="GetAllContainer()">
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="whse" class="col-sm-4 col-form-label">{{'Masking_Operation'|translate}}</label>
                        <div class="input-group col-sm-8">
                            <div class="input-group input-group-sm">
                                <kendo-dropdownlist class="form-control form-control-sm" [data]="addContainerOpnArr"
                                    textField="Name" valueField="Value" id="addContOpn" name="addContOpn" [(ngModel)]="defaultContOpn"
                                    #selectedvalue (selectionChange)="onAddContOpnSelectChange($event)"></kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="input-group col-sm-8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="input-group col-sm-8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="input-group col-sm-8">
                            <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="addContainerToContainer()">
                                <span role="presentation"></span> {{addContBtnText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" type="button"
                    (mousedown)="onCancelClick()">
                    <i class="opti-icon-arrow-back"></i>
                </button>
                <!-- <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (mousedown)="onAddUpdateClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{buttonText}}</button> -->
            </div>
        </div>
    </form>

</div>

<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>