<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Bin_Rules'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label label for="purpose" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'BinRuleRuleType'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="RuleTypeList" id="ruleType" 
                            (open)="open()"
                            (valueChange)="binRuleValueChange($event)"
                            name="ruleType" [(ngModel)]="ruleType" [disabled]=isUpdate>
                            </kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label label for="purpose" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'BinRulePurpose'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="PurposeList" id="purpose" 
                            (valueChange) = "purposeChange($event)"
                            name="purpose" [(ngModel)]="purpose"   [disabled]=isUpdate>
                            </kendo-dropdownlist>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="whsCode" class="col-sm-3 col-form-label">{{'WarehouseCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #whsCodeLabel class="form-control form-control-sm" name='whsCode'
                                    [(ngModel)]="whsCode" id="whsCode" (blur)="onWhseChangeBlur()"   [disabled]=isUpdate>
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                        (mousedown)="GetWhseCode()"   [disabled]=isUpdate>
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="whsZone"
                        class="col-sm-3 col-form-label">{{'WhsUserGroup_WHS_ZONE'|translate}}</label>
                    <div class="col-sm-9">
                        <div class="input-group input-group-sm">
                            <input type="text"  #whsZoneLabel class="form-control form-control-sm" name='whsZone'
                                [(ngModel)]="whsZone" id="whsZone" (blur)="onWhsZoneBlur()" [disabled]=isUpdate>
                            <div class="input-group-append has-seprate-btn">
                                <button tabIndex="-1" class="k-button k-primary btn" type="button"
                                    (mousedown)="GetDataForWhsZone()"   [disabled]=isUpdate>
                                    <i class="opti-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> <div class="card shipment-widget-box">
                    <h5 class="card-header"><button class="float-right btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="AddRow()">
                        <span class="k-icon k-i-plus" role="presentation"></span> {{'Masking_AddRow'|translate}}</button></h5>                        
                    <kendo-grid class="no-shadow" [data]="binRuleArray" [resizable]="true" [sortable]="true" [selectable]="true"
                        #gridItem>
                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_STORAGE_FROM_BIN" [width]="18" title="{{'BinRuleFromBin'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>

                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_STORAGE_FROM_BIN"  id="storage_from_bin"
                                        min="0" #storage_from_bin (blur)="IsValidBinCode('frombin', dataItem,idx,storage_from_bin)" value={{dataItem.OPTM_STORAGE_FROM_BIN}} >
                                    <div class="input-group-append">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCodeList(idx,1)">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_STORAGE_TO_BIN" [width]="18" title="{{'BinRuleToBin'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_STORAGE_TO_BIN" value={{dataItem.OPTM_STORAGE_TO_BIN}} id="storage_to_bin"
                                        min="0" #storage_to_bin  (blur)="IsValidBinCode('tobin', dataItem,idx,storage_to_bin)">
                                    <div class="input-group-append">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCodeList(idx,2)">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_PUTWAY_STAGE_BIN" [width]="18" title="{{'BinRulePutawayBin'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>

                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_PUTWAY_STAGE_BIN" value={{dataItem.OPTM_PUTWAY_STAGE_BIN}} id="putaway_stage_bin"
                                        min="0" #putaway_stage_bin [disabled]=!isPutAway (blur)="IsValidBinCode('putawaybin', dataItem, idx,putaway_stage_bin)" >
                                    <div class="input-group-append">
                                        <button  [disabled]=!isPutAway tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCodeList(idx,3)">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
   
                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_PICK_DROP_BIN" [width]="18" title="{{'BinRulePickDropBin'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>

                                <div class="input-group input-group-sm"  >
                                    <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_PICK_DROP_BIN" value={{dataItem.OPTM_PICK_DROP_BIN}} id="OPTM_PICK_DROP_BIN"
                                        min="0" #OPTM_PICK_DROP_BIN [disabled]=isPutAway (blur)="IsValidBinCode('pickdropbin', dataItem, idx,OPTM_PICK_DROP_BIN)" >
                                    <div class="input-group-append">
                                        <button [disabled]=isPutAway  tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetBinCodeList(idx,4)">
                                            <i class="opti-icon-search" ></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>

                        <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-left" class="text-left" [width]="10" title="{{'Action'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (mousedown)="deleteRow(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete" role="presentation"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" (mousedown)="onBackClick()" type="button">
                    <i class="opti-icon-arrow-back"></i>
                </button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="OnCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span> 
                    {{'Cancel'|translate}}</button>
                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddUpdateClick()" [disabled]="!isUpdateHappen">
                    <!-- <span class="k-icon k-i-check" role="presentation"></span>  -->
                    {{BtnTitle}}</button>
            </div>
        </div>
    </form>

</div>

<!-- <span [hidden]="hideLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
</span> -->
<span *ngIf="showLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-common-lookup>
</span>
<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>
<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div> 
<!-- <kendo-dialog title="{{'Alert'|translate}}" *ngIf="openDialog" (close)="close('cancel')" [minWidth]="190" [width]="260" [height]="200">
    <p style="margin: 30px; text-align: center;">{{'AlertChangeRule'|translate}}</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="closeDialog()">Ok</button>
    </kendo-dialog-actions>
</kendo-dialog> -->