.custom-control-label{
    padding-top: 5px;
}
.shipment-form{
    margin-bottom: 10px;
}
.shipment-widget-box{
    margin-bottom: 15px;
    box-shadow: 0px -1px 2px #e4e4e4;
    border: none;
    .card-body{
        padding: 0;
    }
    .card-header{
        padding: 5px;
        font-weight: bold;
        border-bottom-color: rgba(142, 142, 142, 0.125);
        background: rgb(237, 242, 255);
        color: #3e5b99;
    }
}