.custom-control-label{
    padding-top: 5px;
}
.shipment-form{
    margin-bottom: 10px;
}
.shipment-widget-box{
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px #e4e4e4;
    border: none;
    .card-body{
        padding: 0;
    }
    .card-header{
        padding: 5px;
        font-weight: bold;
        border-bottom-color: rgba(142, 142, 142, 0.125);
        background: rgb(237, 242, 255);
        color: #3e5b99;
    }
}
.col-form-label{
    padding-left: 10px;
    padding-right: 10px;
}
.shipment-form > .row{
    margin: 0 -10px;
}
.minus-m5{
    margin-left: -5px;
}
.toggle-anchor{
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    .toggle-anchor-text{
        top: 1px;
    position: relative;
    }
}
.kiarrowchevrondown::before{
    content: "\e015";
}
.opti_container{
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    .opti_container_inner{
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        padding: 10px 15px;   
        position: relative;
        overflow-y: scroll;
    }
}