<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                Shipment
            </h3>
            <div class="row">
                <div class="col-12">
                    <!-- Shipment From -->
                    <div class="shipment-form">
                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="ShipmentID" class="col-sm-3 col-form-label">{{'PT_ShipmentId'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='ShipmentID' [(ngModel)]=ShipmentID id="ShipmentID">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="WarehouseCode" class="col-sm-3 col-form-label">{{'WHSCODE'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='WarehouseCode' [(ngModel)]=WarehouseCode id="WarehouseCode">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="ScheduleDatetime" class="col-sm-3 col-form-label">{{'Schedule_Datetime'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='ScheduleDatetime' [(ngModel)]=ScheduleDatetime id="ScheduleDatetime">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="CustomerCode" class="col-sm-3 col-form-label">{{'CustomerCode'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='CustomerCode' [(ngModel)]=CustomerCode id="CustomerCode">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="ShipStageBin" class="col-sm-3 col-form-label">
                                        {{'Ship_Stage_Bin'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='ShipStageBin' [(ngModel)]=ShipStageBin id="ShipStageBin">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="DockDoor" class="col-sm-3 col-form-label">{{'Dock_Door'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='DockDoor' [(ngModel)]=DockDoor id="DockDoor">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="ShipToCode" class="col-sm-3 col-form-label">{{'Ship_To_Code'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='ShipToCode' [(ngModel)]=ShipToCode id="ShipToCode">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="Status" class="col-sm-3 col-form-label">{{'Status'|translate}}</label>
                                    <div class="col-sm-9">

                                        <select class="form-control form-control-sm" name='Status' [(ngModel)]=Status id="Status">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="CarrierCode" class="col-sm-3 col-form-label">{{'DropdownMenu_CarrierCode'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='CarrierCode' [(ngModel)]=CarrierCode id="CarrierCode">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->

                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="UseContainer" class="custom-control-input" name="UseContainer" [(ngModel)]=UseContainer/>
                                            <label class="custom-control-label" for="UseContainer">{{'Use_Container'|translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->

                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="ReturnOrderRef" class="col-sm-3 col-form-label">{{'Return_Order_Ref'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='ReturnOrderRef' [(ngModel)]=ReturnOrderRef id="ReturnOrderRef">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="BOLNumber" class="col-sm-3 col-form-label">{{'BOL_Number'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='BOLNumber' [(ngModel)]=BOLNumber id="BOLNumber">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="row">
                            <!-- col start -->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="VehicleNumber" class="col-sm-3 col-form-label">{{'VehicleNumber'|translate}}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name='VehicleNumber' [(ngModel)]=VehicleNumber id="VehicleNumber">
                                    </div>
                                </div>
                            </div>
                            <!-- col end -->
                        </div>
                        <!-- row end -->

                    </div>
                    <!--/ Shipment Form  -->

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <!-- Shipment Lines -->
                    <div class="card shipment-widget-box">
                        <h5 class="card-header">{{'Shipment_Lines'|translate}}</h5>
                        <div class="card-body">
                            <kendo-grid [data]="shipmentLines" [resizable]="true" [height]="200" [pageSize]="pageSize" [skip]="skip" [pageable]="false">
                                <kendo-grid-column field="OPTM_DOCENTRY" class="text-right" width="85" title="{{'PT_ShipmentId'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_LINEID" class="text-right" width="95" title="{{'Shipment_Lines'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_ITEMCODE" width="100" title="{{'ItemCode'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SHIPQTY" class="text-right" width="70" title="{{'Quantity'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="QuantityFulFill" width="100" title="{{'Quantity_Fulfilled'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="QuantityFulFill" width="100" title="{{'Line_status'|translate}}"></kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                    <!--/ Shipment Lines -->
                </div>
                <div class="col-sm-6 col-xs-12">
                    <!-- Sales Order Details -->
                    <div class="card shipment-widget-box">
                        <h5 class="card-header">{{'SalesOrderDetails'|translate}}</h5>
                        <div class="card-body">
                            <kendo-grid [data]="SODetails" [resizable]="true" [pageSize]="pageSize" [skip]="skip" [height]="200" [pageable]="false">
                                <kendo-grid-column field="OPTM_DOCENTRY" title="{{'PT_ShipmentId'|translate}}" class="text-right" width="75"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_DTLLINEID" title="{{'Shipment_Lines'|translate}}" class="text-right" width="90"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SONO" class="text-right" width="75" title="{{'SONumber'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SOLINENO" title="{{'SOLine'|translate}}" class="text-right" width="50"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_ITEMCODE" width="100" title="{{'ItemCode'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_SOLINEQTY" title="{{'Quantity'|translate}}" class="text-right" width="60"></kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                    <!--/ Sales Order Details -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <!-- Shipment Lines -->
                    <div class="card shipment-widget-box">
                        <h5 class="card-header">{{'ShipmentContainers'|translate}}</h5>
                        <div class="card-body">
                            <kendo-grid [data]="gridData" [resizable]="true" [pageSize]="pageSize" [skip]="skip" [height]="200" [pageable]="false">
                                <kendo-grid-column field="OPTM_DOCENTRY" title="{{'PT_ShipmentId'|translate}}" class="text-right" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ContainerID" title="{{'ContainerId'|translate}}" width="75" class="text-right"></kendo-grid-column>
                                <kendo-grid-column field="ContainerCode" title="{{'ContainerCode'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ContainerType" title="{{'ContainerType'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ParentContainerId" title="{{'Parent_CId'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ContainerStatus" title="{{'ContainerStatus'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ShipEligible" title="{{'ShipEligible'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="PackedForShipment" title="{{'PackedForShipment'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="WarehouseCode" title="{{'WarehouseCode'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ContainerBin" title="{{'ContainerBin'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="Weight" title="{{'Weight'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="WeightUOM" title="{{'WeightUOM'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="Volume" title="{{'Volume'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="VolumeUOM" title="{{'VolumeUOM'|translate}}" width="75"></kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                    <!--/ Shipment Lines -->
                </div>
                <div class="col-sm-6 col-xs-12">
                    <!-- Sales Order Details -->
                    <div class="card shipment-widget-box">
                        <h5 class="card-header">{{'ContainerItems'|translate}}</h5>
                        <div class="card-body">
                            <kendo-grid [data]="gridData" [resizable]="true" [pageSize]="pageSize" [skip]="skip" [height]="200" [pageable]="false">
                                <kendo-grid-column field="ShipmentID" title="{{'PT_ShipmentId'|translate}}" class="text-right" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ShipmentLine" title="{{'Shipment_Lines'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ContainerID" title="{{'ContainerId'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="ItemCode" title="{{'ItemCode'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="PartQty" title="{{'PartQty'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="UOM" title="{{'UOM'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="Weight" title="{{'Weight'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="WeightUOM" title="{{'WeightUOM'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="Volume" title="{{'Volume'|translate}}" width="75"></kendo-grid-column>
                                <kendo-grid-column field="VolumeUOM" title="{{'VolumeUOM'|translate}}" width="75"></kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                    <!--/ Sales Order Details -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Sales Order Details -->
                    <div class="card shipment-widget-box">
                        <h5 class="card-header">{{'ShipmentLineDetails'|translate}}</h5>
                        <div class="card-body">
                            <kendo-grid [data]="gridData" [resizable]="true" [pageSize]="pageSize" [skip]="skip" [height]="200" [pageable]="false">
                                <kendo-grid-column field="OPTM_DOCENTRY" class="text-right" width="85" title="{{'PT_ShipmentId'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="OPTM_LINEID" class="text-right" width="95" title="{{'Shipment_Lines'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="LineID" width="95" title="{{'LineID'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="ItemCode" width="95" title="{{'ItemCode'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="BinCode" width="95" title="{{'BinCode'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="BTCH" width="95" title="{{'BTCH_Number'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="Quantity" width="95" title="{{'Quantity'|translate}}"></kendo-grid-column>
                                <kendo-grid-column field="ContainerID" width="95" title="{{'ContainerId'|translate}}"></kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                    <!--/ Sales Order Details -->
                </div>
            </div>


        </div>
        <div class="fix-footer-btnBar">
            <!-- <div class="col-sm-12 col-12">
                    <hr />
                </div> -->
            <div class="col-sm-12 col-12">
                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" type="button">
                    <i class="opti-icon-arrow-back"></i>
                </button>

                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Schedule'|translate}}</button>

                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Containers'|translate}}</button>


                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Stage_Unstage'|translate}}</button>

                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Customer_Return'|translate}}</button>


                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Accept_Return'|translate}}</button>


                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Cancel_Unassign'|translate}}</button>
            </div>
        </div>
    </form>

</div>

<span [hidden]="hideLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)" (lookupkey)="getlookupSelectedItem($event)"></app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>