<kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true">
<kendo-grid-column field="ItemCode" title="Item Code"></kendo-grid-column>
<kendo-grid-column field="Desc" title="Desc"></kendo-grid-column>
<kendo-grid-column field="SalesUOM" title="Sales UOM"></kendo-grid-column>
<kendo-grid-column field="Quantity" title="Quantity"></kendo-grid-column>
<kendo-grid-column field="InvUOM" title="Inv UOM"></kendo-grid-column>
<kendo-grid-column field="QtyinInvUOM" title="Qty in Inv UOM"></kendo-grid-column>
<kendo-grid-column field="DelDate" title="Del. Date"></kendo-grid-column>
<kendo-grid-column field="Shipto" title="Ship-to"></kendo-grid-column>
</kendo-grid>

 							
