<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner">
            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Dock_Door'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'WHSCODE'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="WHSCODE" [(ngModel)]="WHSCODE" placeholder="{{'WHSCODE'|translate}}"
                                    #DDIDInputField [disabled]=isUpdate id="InboundDetailVendScanInputField">
                                <div class="input-group-append">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="onWhsLookupClick()" [disabled]=isUpdate>
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'DD_ID'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="DD_ID" [(ngModel)]="DD_ID" placeholder="{{'DD_ID'|translate}}"
                                    (blur)="OnDDIDChange()" #DDIDInputField [disabled]=isUpdate id="InboundDetailVendScanInputField">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'DD_DESC'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="DD_DESC" [(ngModel)]="DD_DESC" placeholder="{{'DD_DESC'|translate}}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card shipment-widget-box">
                        
                    <kendo-grid class="no-shadow" [data]="DDdetailArray" [resizable]="true" [sortable]="true" [selectable]="true"
                        #gridItem>
                        <ng-template kendoGridToolbarTemplate> 
                            <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile pl-0 pt-0">
                                <div class="k-form-field d-flex">
                                    <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID" [(ngModel)]="isColumnFilter"
                                        class="k-checkbox" name="columnfilter" />
                                    <label class="k-checkbox-label" for="opti_SalesOrderListColumnFilterID">Enable Filter</label>
                    
                                    
                                </div>
                            </form>
                            <button type="button" class="float-right btn btn-success k-button btn-sm btn-icon-with-text grid-toolbar-delete-btn" (click)="AddRow()">
                                <span class="k-icon k-i-plus" role="presentation"></span> 
                                Add Row</button>
                          <!-- <button class="float-right btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="AddRow()">
                                <span class="k-icon k-i-plus" role="presentation"></span>Add Row</button>                        -->
         
                        </ng-template>
                    
                        <kendo-grid-column media="(min-width: 768px)" field="OPTM_SHIP_STAGEBIN" [width]="18" title="{{'Ship_Stage_Bin'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>

                                    <!-- (change)="updateItemCode(display_name, display_name.value, idx)" -->
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="dataItem.OPTM_SHIP_STAGEBIN" value={{dataItem.OPTM_SHIP_STAGEBIN}} id="display_name"
                                        min="0" #display_name >
                                    <div class="input-group-append">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetStageBinList(idx)">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </ng-template>
                        </kendo-grid-column>

                        <!-- <kendo-grid-column media="(min-width: 768px)" field="OPTM_DEFAULT" headerClass="text-right" class="text-left" [width]="18" title="{{'Default_Bin'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx='rowIndex'>
                                <input type="text" class="text-left form-control form-control-sm" name="dataItem.OPTM_DEFAULT" value={{dataItem.OPTM_DEFAULT}} id="display_name"
                                    #display_name (change)="UpdateDefault(display_name, display_name.value, idx)">
                            </ng-template>
                        </kendo-grid-column> -->

                        <kendo-grid-checkbox-column title="{{'Default_Bin'|translate}}" [width]="25">
                            <ng-template kendoGridCellTemplate let-idx='rowIndex' let-dataItem='dataItem'>
                                <div class="custom-control custom-checkbox">
                                    <input #chkSelection type="checkbox"  (change)="onCheckboxClick(chkSelection.checked,idx)" [checked]="dataItem.OPTM_DEFAULT_BOOL"
                                        id="chkbox-{{idx}}" class="custom-control-input" name="columnfilter" />
                                    <label class="custom-control-label" for="chkbox-{{idx}}"></label>
                                </div>
                            </ng-template>
                        </kendo-grid-checkbox-column>
                        
                        <kendo-grid-column media="(min-width: 768px)" field="{{'Action'|translate}}" headerClass="text-center" class="text-center" [width]="10" title="">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (mousedown)="openConfirmForDelete(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete" role="presentation"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                    </div>
                </div>
            </div>


        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" (click)="onCancelClick()" type="button">
                    <i class="opti-icon-arrow-back"></i>
                </button>
                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="onAddUpdateClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{BtnTitle}}</button>
            </div>
        </div>
    </form>
</div>

<span [hidden]="hideLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>