<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Shipment_Wizard'|translate}}
            </h3>
            <div class="row">
                <div class="col-12">
                    <!-- WIZARD START -->
                    <div class="wizard-container">
                        <div class="wizard-navigation">
                            <div class="steps-bar">
                                <div [ngClass]="[(currentStep==1) ? 'active' : '', (currentStep > 1) ? 'done' : '']" class="steps-box">
                                    <a (click)="onStepClick(1)">
                                        <i class="k-icon k-i-shape"></i>
                                    </a>
                                    <span class="steps-label">{{'Selection_Criteria'|translate}}</span>
                                </div>
                                <div [ngClass]="[(currentStep==2) ? 'active' : '', (currentStep > 2) ? 'done' : '']" class="steps-box">
                                    <a (click)="onStepClick(2)">
                                        <i class="k-icon k-i-paint"></i>
                                    </a>
                                    <span class="steps-label">{{'SO_Lines'|translate}}</span>
                                </div>
                                <div [ngClass]="[(currentStep==3) ? 'active' : '', (currentStep > 3) ? 'done' : '']" class="steps-box">
                                    <a (click)="onStepClick(3)">
                                        <i class="k-icon k-i-globe-outline"></i>
                                    </a>
                                    <span class="steps-label">{{'Consolidation_by'|translate}}</span>
                                </div>
                                <div [ngClass]="[(currentStep==4) ? 'active' : '', (currentStep > 4) ? 'done' : '']" class="steps-box">
                                    <a (click)="onStepClick(4)">
                                        <i class="k-icon k-i-preview"></i>
                                    </a>
                                    <span class="steps-label">{{'Preview'|translate}}</span>
                                </div>
                                <div [ngClass]="[(currentStep==5) ? 'active' : '', (currentStep > 5) ? 'done' : '']" class="steps-box">
                                    <a (click)="onStepClick(5)">
                                        <i class="k-icon k-i-shopping-cart"></i>
                                    </a>
                                    <span class="steps-label">{{'Shipments'|translate}}</span>
                                </div>
                                <div class="step-line"></div>
                            </div>
                        </div>
                        <div class="wizard-box">
                            <!-- STEP 1 START -->
                            <div [ngClass]="{show:currentStep == 1}" class="wizard-content">
                                <div class="col-10" style="padding: 0;">
                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="UseContainer" (change)="onCheckChange()" class="custom-control-input" name="UseContainer" [(ngModel)]=UseContainer
                                                        />
                                                        <label class="custom-control-label" for="UseContainer">{{'Cont_Shipment'|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->

                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="CustomerFrom" class="col-sm-4 col-form-label">{{'Customer_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name='CustomerFrom' [(ngModel)]="CustomerFrom" id="CustomerFrom" (blur)="GetDataForCustomer('CustFrom', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForCustomer('CustFrom', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="CustomerTo" class="col-sm-4 col-form-label">{{'Customer_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name='CustomerTo' [(ngModel)]="CustomerTo" id="CustomerTo" (blur)="GetDataForCustomer('CustTo', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForCustomer('CustTo', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                    </div>
                                    <!-- row end -->
                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="SOFrom" class="col-sm-4 col-form-label">{{'SO_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input id="SrNoFrom" type="Number" class="form-control form-control-sm" name='SrNoFrom' [(ngModel)]="SrNoFrom" (blur)="GetDataForSalesOredr('SONoFrom', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForSalesOredr('SONoFrom', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="SOTo" class="col-sm-4 col-form-label">{{'SO_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input id="SrNoTo" type="Number" class="form-control form-control-sm" name='SrNoTo' [(ngModel)]="SrNoTo" (blur)="GetDataForSalesOredr('SONoTo', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForSalesOredr('SONoTo', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->
                                    <!-- row start -->
                                    <div class="row">

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="ItemFrom" class="col-sm-4 col-form-label">{{'Item_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name='ItemFrom' [(ngModel)]="ItemFrom" id="ItemFrom" (blur)="GetDataForItemCode('ItmFrm', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForItemCode('ItmFrm', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="ItemTo" class="col-sm-4 col-form-label">{{'Item_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name='ItemTo' [(ngModel)]="ItemTo" id="ItemTo" (blur)="GetDataForItemCode('ItmTo', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForItemCode('ItmTo', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->

                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="DueDateFrom" class="col-sm-4 col-form-label">{{'Due_Date_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <kendo-datepicker [(ngModel)]=DueDateFrom name="DueDateFrom" [format]=dateFormat placeholder={{dateFormat}}></kendo-datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="DueDateTo" class="col-sm-4 col-form-label">{{'Due_Date_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <kendo-datepicker name="DueDateTo" [(ngModel)]=DueDateTo [format]=dateFormat placeholder={{dateFormat}}></kendo-datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                    </div>
                                    <!-- row end -->

                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="ShipFrom" class="col-sm-4 col-form-label">{{'Ship_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name="ShipFrom" id="ShipFrom" [(ngModel)]="ShipFrom" (blur)="GetDataForShipToCode('ShipFrom', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForShipToCode('ShipFrom', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="ShipTo" class="col-sm-4 col-form-label">{{'Ship_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name="ShipTo" id="ShipTo" [(ngModel)]="ShipTo" (blur)="GetDataForShipToCode('ShipTo', 'blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForShipToCode('ShipTo', 'lookup')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->

                                    <!-- row start -->
                                    <div class="row">

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="OpenQtyFrom" class="col-sm-4 col-form-label">{{'Open_Qty_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control form-control-sm" name="OpenQtyFrom" id="OpenQtyFrom" [(ngModel)]="OpenQtyFrom" (keypress)="numericOnly($event)">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="OpenQtyTo" class="col-sm-4 col-form-label">{{'Open_Qty_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control form-control-sm" name="OpenQtyTo" id="OpenQtyTo" [(ngModel)]="OpenQtyTo" (keypress)="numericOnly($event)">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->


                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="NoofOpenLinesFrom" class="col-sm-4 col-form-label">{{'No_of_Open_Lines_From'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="NoofOpenLinesFrom" name="NoofOpenLinesFrom" id="NoofOpenLinesFrom"
                                                        (keypress)="numericOnly($event)">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="NoofOpenLinesTo" class="col-sm-4 col-form-label">{{'No_of_Open_Lines_To'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="NoofOpenLinesTo" name="NoofOpenLinesTo" id="NoofOpenLinesTo"
                                                        (keypress)="numericOnly($event)">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->

                                    </div>
                                    <!-- row end -->

                                    <!-- row start -->
                                    <div class="row">
                                        <!-- col start -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="Whse" class="col-sm-4 col-form-label">{{'PT_Warehouse'|translate}}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group ">
                                                        <input type="text" class="form-control form-control-sm" name='WareHouse' [(ngModel)]="WareHouse" id="Whse" (blur)="GetDataForWareHouse('blur')">
                                                        <div class="input-group-append has-seprate-btn">
                                                            <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="GetDataForWareHouse('Whs')" [disabled]=isUpdate>
                                                                <i class="opti-icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->
                                </div>
                            </div>
                            <!-- STEP 1 END  -->

                            <!-- STEP 2 START -->
                            <div [ngClass]="{show:currentStep == 2}" class="wizard-content">
                                <kendo-grid #gridUser [data]="gridData" [selectable]="{enabled: true, checkboxOnly: true}" [resizable]="true" [pageSize]="SOpageSize"
                                    [skip]="skip" [pageable]="SOpagable" (selectionChange)="gridUserSelectionChange(gridUser, $event)">

                                    <kendo-grid-checkbox-column [width]="60" title="{{'Select'|translate}}" width="30">
                                        <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                            <input [kendoGridSelectionCheckbox]="idx" />
                                        </ng-template>
                                    </kendo-grid-checkbox-column>
                                    <kendo-grid-column width="100" field="CUSTOMER" title="{{'Customer'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="SODocNum" editor="numeric" class="grid-right-align-column" width="110" title="{{'SalesOrderEntry'|translate}}"></kendo-grid-column>
                                    <kendo-grid-column field="LN" width="40" title="{{'LN'|translate}}" class="grid-right-align-column"></kendo-grid-column>
                                    <kendo-grid-column field="ITEMKEY" width="120" title="{{'ItemCode'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="ItemCode" width="120" title="{{'GrdItemCode'|translate}}">
                                    </kendo-grid-column>

                                    <kendo-grid-column field="SalesUOM" width="100" title="{{'UOM'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="SalesOpenQty" width="80" class="grid-right-align-column" title="{{'OpnQty'|translate}}"></kendo-grid-column>
                                    <kendo-grid-column width="80" class="grid-right-align-column" title="{{'Shipment_Qty'|translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem let-companyRowIndex="rowIndex">
                                            <input type="text" class="form-control form-control-sm text-right" [value]="dataItem.SalesOpenQty" (change)="ChangeSalesQty($event,dataItem,companyRowIndex)">

                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="InvntryUom" width="80" title="{{'InvUOM'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="SalesOpnQtyInVUOM" width="140" class="grid-right-align-column" title="{{'OpnQtyInInvUOM'|translate}}">
                                    </kendo-grid-column>
                                    <!-- {{dataItem.dateField | date: 'MM/dd/yyyy'}} -->
                                    <kendo-grid-column field="DelDate" width="100" title="{{'DelvDate'|translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{dataItem.DelDate | date: 'MM/dd/yyyy'}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column field="DelDate" format='{0:MM/dd/yyyy}' title="{{'DelvDate'|translate}}"></kendo-grid-column> -->
                                    <kendo-grid-column field="ShipTo" width="100" title="{{'ShipTo'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="WhsCode" width="120" title="{{'WHSCODE'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="U_OPTM_SHP_CONTTYPE" width="120" title="{{'SHP_CONTTYPE'|translate}}">
                                        </kendo-grid-column>                                    
                                </kendo-grid>
                            </div>
                            <!-- STEP 2 END -->

                            <!-- STEP 3 START -->
                            <div [ngClass]="{show:currentStep == 3}" class="wizard-content">
                                <!-- row start -->
                                <div class="row">
                                    <!-- col start -->
                                    <div class="col-sm-12">
                                        <div class="k-form-field d-flex mrb-5">
                                            <input type="checkbox" [(ngModel)]="CHKCustomer" [disabled]="true" id="Customer" class="k-checkbox" name="Customer" />
                                            <label class="k-checkbox-label" for="Customer">"{{'Customer'|translate}}"</label>
                                        </div>
                                        <div class="k-form-field d-flex mrb-5">
                                            <input type="checkbox" [(ngModel)]="CHKShipto" [disabled]="true" id="Shipto" class="k-checkbox" name="Shipto" />
                                            <label class="k-checkbox-label" for="Shipto">"{{'ShipTo'|translate}}"</label>
                                        </div>
                                        <div class="k-form-field d-flex mrb-5">
                                            <input type="checkbox" id="Item" [(ngModel)]="CHKItem" class="k-checkbox" name="Item" />
                                            <label class="k-checkbox-label" for="Item">"{{'ItemCode'|translate}}"</label>
                                        </div>
                                        <div class="k-form-field d-flex mrb-5">
                                            <input type="checkbox" [(ngModel)]="CHKSOno" id="SOno" class="k-checkbox" name="SOno" />
                                            <label class="k-checkbox-label" for="SOno">"{{'SalesOrder'|translate}}"</label>
                                        </div>
                                        <div class="k-form-field d-flex mrb-5">
                                            <input type="checkbox" [(ngModel)]="CHKDueDate" id="DueDate" class="k-checkbox" name="DueDate" />
                                            <label class="k-checkbox-label" for="DueDate">"{{'DueDate'|translate}}"</label>
                                        </div>
                                    </div>
                                    <!-- col end -->
                                </div>
                                <!-- row end -->
                            </div>
                            <!-- STEP 3 END -->

                            <!-- STEP 4 START -->
                            <div [ngClass]="{show:currentStep == 4}" class="wizard-content">
                                <kendo-grid [data]="AllConsolidateData" [pageSize]="SPpageSize" [skip]="skip" #gridUser [pageable]="SPpagable" [selectable]="true"
                                    (selectionChange)="gridConsilidateDataSelectionChange(gridUser, $event)">

                                    <kendo-grid-checkbox-column [width]="60" title="{{'Select'|translate}}" width="30">
                                        <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                            <input [kendoGridSelectionCheckbox]="idx" />
                                        </ng-template>
                                    </kendo-grid-checkbox-column>

                                    <kendo-grid-column field="SHIPMENT_ID" title="{{'ShipMentId'|translate}}" class="text-right"></kendo-grid-column>
                                    <kendo-grid-column field="CUSTOMER" title="{{'Customer'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="WAREHOUSE_CODE" title="{{'WHSCODE'|translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="Ship_To" title="{{'PT_Ship_To'|translate}}">
                                    </kendo-grid-column>

                                    <ng-template kendoGridDetailTemplate let-dataItem>
                                        <kendo-grid [data]="dataItem.ShipmentChildData">
                                            <kendo-grid-column *ngIf="false" field="SHIPMENT_ID" title="{{'ShipMentId'|translate}}" class="text-right"></kendo-grid-column>
                                            <kendo-grid-column field="ITEM_CODE" title="{{'ItemCode'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="ShipQty" class="grid-right-align-column" title="{{'Quantity'|translate}}"></kendo-grid-column>

                                        </kendo-grid>
                                    </ng-template>
                                </kendo-grid>



                            </div>
                            <!-- STEP 4 END -->

                            <!-- STEP 5 START -->
                            <div [ngClass]="{show:currentStep == 5}" class="wizard-content">
                                <kendo-grid [data]="GetCreateShipMentData" [pageSize]="pageSize" [skip]="skip" [pageable]="pageable" [height]="200" [selectable]="true">
                                    <kendo-grid-column field="OPTM_SHIPMENT_CODE" title="{{'Shipment_Code'|translate}}" class="text-left"></kendo-grid-column>
                                    <kendo-grid-column field="OPTM_BPCODE" title="{{'Customer'|translate}}">
                                    </kendo-grid-column>

                                    <kendo-grid-column field="OPTM_SHIPTO" title="{{'ShipTo'|translate}}">
                                    </kendo-grid-column>

                                    <kendo-grid-column field="OPTM_WHSCODE" title="{{'WHSCODE'|translate}}">
                                    </kendo-grid-column>


                                    <ng-template kendoGridDetailTemplate let-dataItem>
                                        <kendo-grid [data]="dataItem.ShipmentChildData">
                                            <kendo-grid-column field="OPTM_ITEMCODE" title="{{'ItemCode'|translate}}">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="OPTM_QTY" class="grid-right-align-column" title="{{'Quantity'|translate}}"></kendo-grid-column>
                                            <!-- <kendo-grid-column field="OPTM_SHIPQTY" title"{{'Quantity'|translate}}"></kendo-grid-column> -->

                                        </kendo-grid>
                                    </ng-template>
                                </kendo-grid>
                            </div>
                            <!-- STEP 5 END -->

                        </div>
                    </div>
                    <!-- WIZARD END -->
                </div>
            </div>


        </div>
        <div class="fix-footer-btnBar">
            <!-- <div class="col-sm-12 col-12">
                    <hr />
                </div> -->
            <div class="col-sm-12 col-12">
                <button type="button" *ngIf="currentStep == 1" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="OnCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                <button *ngIf="currentStep > 1" (click)="onPrevClick()" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1"
                    type="button">
                    <i class="opti-icon-arrow-back"></i>
                </button>
                <button *ngIf="currentStep < 4" (click)="onNextClick()" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1"
                    type="button">
                    <i class="opti-icon-arrow-next"></i>
                </button>
                <button *ngIf="currentStep == 4" class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (mousedown)="onNextClick()">
                    <span role="presentation"></span> {{'CreateShipment'|translate}}</button>
            </div>
        </div>
    </form>

</div>

<span [hidden]="hideLookup">
    <app-common-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupKey($event)">
    </app-common-lookup>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>